<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>A propos</title>

    <!-- <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  /> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

<body class="programmation-page">
  <header class="site-header basic">
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="/"
            ><img
              src="images\Logo-home.png"
              width="65"
              height="65"
              class="d-inline-block align-top"
              alt=""
          /></a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="/">Accueil</a></li>
            <li><a href="programmation">Programmation</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Le Festival
              </a>
              <div class="dropdown-menu basic" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="trajet"
                  >Se rendre à APOKATOA</a
                >
                <a class="dropdown-item" href="hebergement">Hébergement</a>
                <a class="dropdown-item" href="food"></a>
                <a class="dropdown-item" href="prevention">Prévention</a>
              </div>
            </li>
            <li><a href="about-us">À propos</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>
    <!-- header-bar -->
  </header>
  <!-- .site-header -->
  
  
    <div class="page-header about-us">
      <div class="container">
        <div class="row">
          <div class="col-12 nopadding">
            <div class="entry-header">
              <div class="background-img-header">
                <h2 class="entry-title text-center">À propos</h2>
              </div>
            </div>
            <!-- entry-header -->
          </div>
          <!-- col-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <div class="content-section basic">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <div class="entry-title text-center">
                  <div class="bubbleText">
                    <h3>Historique</h3>
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#E93F33" d="M42.4,-45.9C57.8,-37.5,75.3,-26.9,81.6,-11.4C87.9,4.1,83,24.6,70.3,34.9C57.6,45.2,37,45.2,19,51.6C0.9,58,-14.7,70.6,-29.9,70.2C-45,69.8,-59.8,56.4,-71,39.7C-82.2,23,-89.9,2.9,-81.3,-8.8C-72.7,-20.5,-47.7,-23.8,-31.5,-32.1C-15.2,-40.3,-7.6,-53.5,2.9,-57C13.4,-60.4,26.9,-54.3,42.4,-45.9Z" transform="translate(100 100)" />
                    </svg>
                  </div>
                </div>
                <!-- entry-title -->
  
              <div class="entry-description-he">
                <p>
                  17 mars → Suite à l’annonce du Président de la République d’un
                  confinement général le 17 mars 2020. Avec un groupe d’amis,
                  nous avons décidé de nous confiner ensemble. <br />1er
                  confinement → Au bout de 3 semaines, le manque de liberté se
                  faisait ressentir. Après avoir fait le tour des films et
                  séries, de la console de jeu, des jeux de sociétés, du transat
                  ... nous nous sommes posés pour pouvoir rendre le temps
                  rentable. Nous avons réfléchi sur ce qui nous manquait le plus
                  depuis le début de ce confinement : danser, chanter,
                  rencontrer, partager ont été la raison de notre engouement
                  pour créer le festival APOKATOA. <br />Eté 2020 → Pendant tout
                  l’été, nous avons commencé à préciser le projet en créant une
                  association et en mettant en place des actions pour le
                  développer. <br />Fin septembre → Pré-rentrée - Un des membres
                  du groupe interne à l’association a démarré sa 3ème année en
                  bachelor marketing et communication au Campus Ynov de Nantes.
                  Le campus propose les Ydays qui permettent aux élèves de
                  réaliser un projet en cohésion avec toutes les filières
                  d’Ynov. Il a donc proposé APOKATOA pendant la journée de
                  présentation des Ydays afin de créer un groupe externe à
                  l’association. Cela a permis de développer le projet et de le
                  réaliser !
                </p>
              </div>
                <div class="entry-title text-center">
                  <div class="bubbleText">
                    <h3>Nos Valeurs</h3>
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#F6BA33" d="M42.4,-45.9C57.8,-37.5,75.3,-26.9,81.6,-11.4C87.9,4.1,83,24.6,70.3,34.9C57.6,45.2,37,45.2,19,51.6C0.9,58,-14.7,70.6,-29.9,70.2C-45,69.8,-59.8,56.4,-71,39.7C-82.2,23,-89.9,2.9,-81.3,-8.8C-72.7,-20.5,-47.7,-23.8,-31.5,-32.1C-15.2,-40.3,-7.6,-53.5,2.9,-57C13.4,-60.4,26.9,-54.3,42.4,-45.9Z" transform="translate(100 100)" />
                    </svg>
                  </div>
                </div>
                <div class="entry-description-he">
                <p>
                  Le partage, la solidarité, le respect de l’environnement,
                  l'esprit d’équipe, l’authenticité sont les valeurs que nous
                  souhaitons transmettre à travers ce festival.
                </p>
              </div>
  
            </div>
            <!-- col-12 -->
          </div>
          <!-- row -->
        </div>
        <footer class="site-footer about-us mt-4">
          <!-- .site-footer -->
    
          <div class="footer-content-wrapper">
            <div class="container">
              <img
                    src="images\Logo-home.png"
                    width="95"
                    height="95"
                    class="d-inline-block align-top mb-4"
                    alt=""
                />
              <div class="row">
                <div class="col-12 col-md-6 flex justify-start align-start">
                  <h2>Voir également</h2>
    
                  <a href="programmation">Programmation</a>
                  <a href="">Billetterie</a>
                  <a href="trajet">Se rendre à APOKATOA</a>
                  <a href="hebergement">Hébergement</a>
                </div>
                <div class="col-12 col-md-6">
                  <h2>Suivez-nous sur les réseaux</h2>
                  <div class="footer-social">
                    <ul class="flex justify-content-center align-items-center">
                      <li>
                        <a href="https://www.facebook.com/Apokatoa-102719905192097/"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/apokatoa/"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-spotify"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- col -->
              </div>
              <!-- row -->
            </div>
            <div class="copyright-info">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
            <!-- container -->
          </div>
          <!-- footer-content-wrapper -->
        </footer>
        <!-- site-footer -->

        <script type="text/javascript" src="js/test.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="js/circle-progress.min.js"></script>
        <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <script type="text/javascript" src="js/scrollCue.min.js"></script>
        <script type="text/javascript">
          scrollCue.init();
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>
</html>
