<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Apokatoa Festival</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="about-us">
    <header class="site-header">
      <nav class="nav">
        <div class="container">
          <div class="logo">
            <a href="/"
              ><img
                src="images\Logo.png"
                width="65"
                height="65"
                class="d-inline-block align-top"
                alt=""
            /></a>
          </div>
          <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              <li><a href="">Accueil</a></li>
              <li><a href="programmation">Programmation</a></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Le Festival
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="trajet"
                    >Se rendre à APOKATOA</a
                  >
                  <a class="dropdown-item" href="hebergement">Hébergement</a>
                  <a class="dropdown-item" href="#">Manger et boire</a>
                  <a class="dropdown-item" href="#">Prévention</a>
                </div>
              </li>
              <li><a href="about-us">À propos</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
          <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </div>
      </nav>
      <!-- header-bar -->
    </header>
    <!-- .site-header -->

    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="entry-header">
              <h2 class="entry-title">Infos utiles</h2>

              <ul class="breadcrumbs flex align-items-center">
                <li><a href="">Accueil</a></li>
                <li>À propos</li>
              </ul>
              <!-- .breadcrumbs -->
            </div>
            <!-- .entry-header -->
          </div>
          <!-- .col-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .page-header -->

    <div class="main-content">
      <div class="container">
        <div class="entry-header">
          <div class="entry-title">
            <p>LOREM IPSUM</p>
            <h2>Qui sommes-nous ?</h2>
          </div>
          <!-- -->
        </div>
        <!-- -->

        <div class="entry-content">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="entry-header">
                <h3>Historique</h3>
              </div>
              <!-- -->

              <div class="entry-description">
                <p>
                  Quisque at erat eu libero consequat tempus. Quisque mole stie
                  convallis tempus. Ut semper purus metus, a euismod sapien
                  sodales ac. Duis viverra eleifend fermentum. Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit. Mauris tempus
                  vestibulum mauris quis aliquam. Integer accumsan sodales odio,
                  id tempus velit ullamcorper id. Quisque at erat eu libero
                  consequat tempus. Quisque molestie convallis tempus. Ut semper
                  purus metus, a euismod sapien sodales ac. Duis viverra
                  eleifend fermentum. Donec sagittis lacus sit amet augue
                  sodales.
                </p>
              </div>
              <!-- entry-description -->
            </div>
            <!-- col-6 -->

            <div class="col-12 col-lg-6 mt-5 mt-lg-0">
              <div class="entry-header">
                <h3>Nos valeurs</h3>
              </div>
              <!-- -->

              <div class="entry-description">
                <p>
                  Quisque at erat eu libero consequat tempus. Quisque mole stie
                  convallis tempus. Ut semper purus metus, a euismod sapien
                  sodales ac. Duis viverra eleifend fermentum. Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit. Mauris tempus
                  vestibulum mauris quis aliquam. Integer accumsan sodales odio,
                  id tempus velit ullamcorper id. Quisque at erat eu libero
                  consequat tempus. Quisque molestie convallis tempus. Ut semper
                  purus metus, a euismod sapien sodales ac. Duis viverra
                  eleifend fermentum. Donec sagittis lacus sit amet augue
                  sodales.
                </p>
              </div>
              <!-- entry-description -->
            </div>
            <!-- col-6 -->
          </div>
          <!-- row -->
        </div>
        <!-- entry-content -->

        <figure class="featured-image">
          <img src="images/about-us-content-image.jpg" alt="party people" />
        </figure>
      </div>
      <!-- container -->
    </div>
    <!-- main-content -->

    <div class="container">
      <div class="milestones">
        <div class="row flex flex-wrap justify-content-between">
          <div class="d-col-n mt-5 mt-lg-0">
            <div class="counter-box">
              <div class="flex justify-content-center">
                <div
                  class="start-counter"
                  data-to="100"
                  data-speed="2000"
                ></div>
              </div>

              <h3 class="entry-title">Heures de musique</h3>
              <!-- entry-title -->
            </div>
            <!-- counter-box -->
          </div>
          <!-- d-col-n -->

          <div class="d-col-n mt-5 mt-lg-0">
            <div class="counter-box">
              <div class="flex justify-content-center">
                <div class="start-counter" data-to="20" data-speed="2000"></div>
              </div>

              <h3 class="entry-title">Musique DJ</h3>
              <!-- entry-title -->
            </div>
            <!-- counter-box -->
          </div>
          <!-- d-col-n -->

          <div class="d-col-n mt-5 mt-lg-0">
            <div class="counter-box">
              <div class="flex justify-content-center">
                <div
                  class="start-counter"
                  data-to="120"
                  data-speed="2000"
                ></div>
                <div class="counter-k">K</div>
              </div>

              <h3 class="entry-title">Visiteurs</h3>
              <!-- entry-title -->
            </div>
            <!-- counter-box -->
          </div>
          <!-- d-col-n -->

          <div class="d-col-n mt-5 mt-lg-0">
            <div class="counter-box">
              <div class="flex justify-content-center">
                <div class="start-counter" data-to="3" data-speed="2000"></div>
              </div>

              <h3 class="entry-title">Scènes</h3>
              <!-- entry-title -->
            </div>
            <!-- counter-box -->
          </div>
          <!-- d-col-n -->

          <div class="d-col-n mt-5 mt-lg-0">
            <div class="counter-box">
              <div class="flex justify-content-center">
                <div
                  class="start-counter"
                  data-to="200"
                  data-speed="2000"
                ></div>
                <div class="counter-k">K</div>
              </div>

              <h3 class="entry-title">Abonnés</h3>
              <!-- entry-title -->
            </div>
            <!-- counter-box -->
          </div>
          <!-- d-col-n -->
        </div>
      </div>
    </div>

    <div class="testimonial-wrap flex flex-wrap align-self-stretch">
      <div class="testimonials-container">
        <div class="swiper-container testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="testimonial-content-wrap flex flex-wrap align-items-stretch"
              >
                <figure class="user-avatar">
                  <img src="images/testimonial-user.jpg" alt="" />
                </figure>
                <!-- .user-thumbnail -->

                <div class="testimonial-content">
                  <header class="entry-header">
                    <h2 class="entry-title">We love APOKATOA</h2>
                  </header>
                  <!-- .entry-header -->

                  <div class="entry-content">
                    <p>
                      Etiam nec odio vestibulum est mattis effic iturut magna.
                      Pellentesque sit amet tellus blandit. Etiam nec odio
                      vestibulum est mattis effic iturut magna. Pellentesque sit
                      am et tellus blandit. Etiam nec odio vestibul. Etiam nec
                      odio vestibulum est mat tis effic iturut magna.
                    </p>
                  </div>
                  <!-- .entry-content -->

                  <footer class="entry-footer">
                    <a href="#">nom participant, Participant</a>
                  </footer>
                  <!-- .entry-footer -->
                </div>
                <!-- .testimonial-content -->
              </div>
              <!-- .testimonial-content-wrap -->
            </div>
            <!-- .swiper-slide -->

            <div class="swiper-slide">
              <div class="testimonial-content-wrap flex">
                <figure class="user-avatar">
                  <img src="images/testimonial-user.jpg" alt="" />
                </figure>
                <!-- .user-thumbnail -->

                <div class="testimonial-content">
                  <header class="entry-header">
                    <h2 class="entry-title">We love APOKATOA</h2>
                  </header>
                  <!-- .entry-header -->

                  <div class="entry-content">
                    <p>
                      Etiam nec odio vestibulum est mattis effic iturut magna.
                      Pellentesque sit amet tellus blandit. Etiam nec odio
                      vestibulum est mattis effic iturut magna. Pellentesque sit
                      am et tellus blandit. Etiam nec odio vestibul. Etiam nec
                      odio vestibulum est mat tis effic iturut magna.
                    </p>
                  </div>
                  <!-- .entry-content -->

                  <footer class="entry-footer">
                    <a href="#">nom participant, Participant</a>
                  </footer>
                  <!-- .entry-footer -->
                </div>
                <!-- .testimonial-content -->
              </div>
              <!-- .testimonial-content-wrap -->
            </div>
            <!-- .swiper-slide -->

            <div class="swiper-slide">
              <div class="testimonial-content-wrap flex">
                <figure class="user-avatar">
                  <img src="images/testimonial-user.jpg" alt="" />
                </figure>
                <!-- .user-thumbnail -->

                <div class="testimonial-content">
                  <header class="entry-header">
                    <h2 class="entry-title">We love APOKATOA</h2>
                  </header>
                  <!-- .entry-header -->

                  <div class="entry-content">
                    <p>
                      Etiam nec odio vestibulum est mattis effic iturut magna.
                      Pellentesque sit amet tellus blandit. Etiam nec odio
                      vestibulum est mattis effic iturut magna. Pellentesque sit
                      am et tellus blandit. Etiam nec odio vestibul. Etiam nec
                      odio vestibulum est mat tis effic iturut magna.
                    </p>
                  </div>
                  <!-- .entry-content -->

                  <footer class="entry-footer">
                    <a href="#">nom participant, Participant</a>
                  </footer>
                  <!-- .entry-footer -->
                </div>
                <!-- .testimonial-content -->
              </div>
              <!-- .testimonial-content-wrap -->
            </div>
            <!-- .swiper-slide -->
          </div>
          <!-- .swiper-wrapper -->

          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
        <!-- .swiper-container -->

        <div class="swiper-button-next">
          <img src="images/button.png" alt="" />
        </div>
        <!-- .slider-button -->
      </div>
      <!-- .testimonials-container" -->

      <div class="testimonial-featured-image">
        <img src="images/testimonial.jpg" alt="" />
      </div>
    </div>

    <footer class="site-footer">
      <div
        class="footer-cover-title flex justify-content-center align-items-center"
      >
        <h2>APOKATOA</h2>
      </div>
      <!-- .site-footer -->

      <div class="footer-content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="entry-title">
                <a href="#">APOKATOA</a>
              </div>
              <!-- entry-title -->

              <div class="entry-mail">
                <a href="#">apokatoa@gmail.com</a>
              </div>
              <!-- .entry-mail -->

              <div class="copyright-info">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved |
                <a href="about-us">APOKATOA</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
              <!-- copyright-info -->
              <div class="footer-social">
                <ul class="flex justify-content-center align-items-center">
                  <li>
                    <a href="https://www.facebook.com/Apokatoa-102719905192097/"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/apokatoa/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-spotify"></i></a>
                  </li>
                </ul>
              </div>
              <!-- footer-social -->
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- footer-content-wrapper -->
    </footer>
    <!-- site-footer -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
