<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Apokatoa Festival</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/hebergement.css" />
  </head>
  <body class="about-us">
    <header class="site-header">
      <nav class="nav">
        <div class="container">
          <div class="logo">
            <a href="/"
              ><img
                src="images\Logo.png"
                width="65"
                height="65"
                class="d-inline-block align-top"
                alt=""
            /></a>
          </div>
          <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              <li><a href="">Accueil</a></li>
              <li><a href="programmation">Programmation</a></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Le Festival
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Se rendre à APOKATOA</a>
                  <a class="dropdown-item" href="#">Hébergement</a>
                  <a class="dropdown-item" href="#">Manger et boire</a>
                  <a class="dropdown-item" href="#">Prévention</a>
                </div>
              </li>
              <li><a href="about-us">À propos</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
          <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </div>
      </nav>
      <!-- header-bar -->
    </header>
    <!-- .site-header -->

    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="entry-header">
              <h2 class="entry-title">Comment dormir ?</h2>

              <ul class="breadcrumbs flex align-items-center">
                <li><a href="/">Accueil</a></li>
                <li>hébergement</li>
              </ul>
              <!-- .breadcrumbs -->
            </div>
            <!-- .entry-header -->
          </div>
          <!-- .col-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .page-header -->

    <div class="main-content">
      <div class="container">
        <div class="entry-content">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="entry-header">
                <h3>Le Camping</h3>
              </div>
              <!-- -->

              <div class="entry-description">
                <p>
                  Un espace pour le camping est prévu. Les campings sont
                  gratuits et réservés aux porteurs de billets. Ils sont
                  désormais ouverts du vendredi 0H au dimanche midi. N’hésitez
                  pas à venir le plus tôt possible pour vous y installer ! Un
                  bracelet est posé à chaque détenteur de billet afin de pouvoir
                  accéder au camping. Toute personne qui ne sera pas en
                  possession de ce bracelet ne sera pas acceptée dans le
                  camping. Les bracelets perdus ou cassés ne seront pas
                  remplacés. Ne laissez aucun objet de valeur dans votre 
                  tente sans surveillance.
                </p>
              </div>
              <!-- entry-description -->
            </div>
            <!-- col-6 -->

            <div class="col-12 col-lg-6 mt-5 mt-lg-0">
              <div class="entry-header">
                <h3>Sur place</h3>
              </div>
              <!-- -->

              <div class="entry-description">
                <p>
                  Vous disposerez sur place d'une accueil, de sanitaires ainsi
                  qu'un poste Croix Rouge / Prévention en cas de problèmes. Les
                  champs nous sont prêtés durant le week-end du festival, pour
                  cela, mais aussi dans un esprit écolo, le mieux que vous
                  puissiez faire est de les respecter ! Laissez votre
                  emplacement le plus propre possible avant de nous quitter !
                  Tous les objets dangereux ou jugés comme tels ainsi que les 
                  banderoles à caractère politique, religieux, idéologique ou 
                  publicitaire sont interdits. Les animaux sont interdits sur le
                  site et le camping.
                </p>
              </div>
              <!-- entry-description -->
            </div>
            <!-- col-6 -->
          </div>
          <!-- row -->
        </div>
        <!-- entry-content -->

        <figure class="featured-image">
          <img src="images/camping.jpg" alt="party people" />
        </figure>
      </div>
      <!-- container -->
    </div>
    <!-- main-content -->
    <footer class="site-footer">
      <div
        class="footer-cover-title flex justify-content-center align-items-center"
      >
        <h2>APOKATOA</h2>
      </div>
      <!-- .site-footer -->

      <div class="footer-content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="entry-title">
                <a href="#">APOKATOA</a>
              </div>
              <!-- entry-title -->

              <div class="entry-mail">
                <a href="#">apokatoa@gmail.com</a>
              </div>
              <!-- .entry-mail -->

              <div class="copyright-info">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved |
                <a href="about-us">APOKATOA</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
              <!-- copyright-info -->

              <div class="footer-social">
                <ul class="flex justify-content-center align-items-center">
                  <li>
                    <a href="https://www.facebook.com/Apokatoa-102719905192097/"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/apokatoa/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-spotify"></i
                  ></a>
                </li>
                </ul>
              </div>
              <!-- footer-social -->
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- footer-content-wrapper -->
    </footer>
    <!-- site-footer -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
