<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Apokatoa Festival</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="about-us">
    <header class="site-header basic">
      <nav class="nav">
        <div class="container">
          <div class="logo">
            <a href="/"
              ><img
                src="images\Logo-home.png"
                width="65"
                height="65"
                class="d-inline-block align-top"
                alt=""
            /></a>
          </div>
          <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              <li><a href="/">Accueil</a></li>
              <li><a href="programmation">Programmation</a></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Le Festival
                </a>
                <div class="dropdown-menu basic" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="trajet">Se rendre à APOKATOA</a>
                  <a class="dropdown-item" href="hebergement">Hébergement</a>
                  <a class="dropdown-item" href="#">Manger et boire</a>
                  <a class="dropdown-item" href="#">Prévention</a>
                </div>
              </li>
              <li><a href="about-us">À propos</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
          <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </div>
      </nav>
      <!-- header-bar -->
    </header>
    <!-- .site-header -->

    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="entry-header">
              <h2 class="entry-title text-center">Comment dormir ?</h2>

              <ul class="breadcrumbs flex align-items-center">
              </ul>
              <!-- .breadcrumbs -->
            </div>
            <!-- .entry-header -->
          </div>
          <!-- .col-12 -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .page-header -->

    <div class="content-section basic mt-4 pt-4">
      <div class="container pb-4">
        <div class="entry-header">
          <div class="entry-title">
          </div>
          <!-- -->
        </div>
        <!-- -->

        <div class="entry-content">
          <div class="row">

            <div class="col-12 col-lg-4">
              <div class="card-content">
                <div class="entry-header text-center">
                  <div class="card-blob-icon">
                    <i class="material-icons" style="font-size:44px;">rv_hookup</i>
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#3997DE" d="M39.6,-44.5C52.8,-36.1,66,-25.1,70.4,-10.9C74.7,3.3,70.2,20.7,61,33.8C51.7,46.9,37.7,55.9,21.8,63.2C5.9,70.4,-11.9,76,-28.8,72.6C-45.7,69.3,-61.7,57.1,-66.8,41.7C-71.8,26.4,-65.9,7.9,-62.8,-11.3C-59.6,-30.4,-59.2,-50.2,-49.2,-59.2C-39.2,-68.1,-19.6,-66.2,-3.2,-62.3C13.2,-58.5,26.4,-52.9,39.6,-44.5Z" transform="translate(100 100)" />
                    </svg>
                  </div>
                  <h3>Le Camping</h3>
                </div>
                <!-- -->

                <div class="entry-description">
                  <p>
                    Un espace pour le camping est prévu. Les campings sont
                    gratuits et réservés aux porteurs de billets. Ils sont
                    désormais ouverts du vendredi 0H au dimanche midi. N’hésitez
                    pas à venir le plus tôt possible pour vous y installer ! Un
                    bracelet est posé à chaque détenteur de billet afin de pouvoir
                    accéder au camping. Toute personne qui ne sera pas en
                    possession de ce bracelet ne sera pas acceptée dans le
                    camping. Les bracelets perdus ou cassés ne seront pas
                    remplacés. Ne laissez aucun objet de valeur dans votre tente
                    sans surveillance.
                  </p>
                </div>
                <!-- entry-description -->
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card-content">
                <div class="entry-header text-center">
                  <div class="card-blob-icon">
                    <i class="material-icons" style="font-size:44px;">directions_car</i>
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#71DB63" d="M43.9,-52.2C53.7,-44,56.3,-27.2,58.8,-10.7C61.3,5.8,63.8,22,58.9,37.3C54,52.5,41.7,66.6,26.6,71.4C11.5,76.2,-6.4,71.6,-24.9,65.9C-43.3,60.2,-62.3,53.6,-71.8,40C-81.3,26.5,-81.3,6.1,-74.2,-9.4C-67,-24.8,-52.7,-35.3,-39.2,-42.9C-25.6,-50.4,-12.8,-55,2.1,-57.5C17,-60,34.1,-60.4,43.9,-52.2Z" transform="translate(100 100)" />
                    </svg>
                  </div>
                  <h3>Sur place</h3>
                </div>
                <!-- -->

                <div class="entry-description">
                  <p>
                    Vous disposerez sur place d'une accueil, de sanitaires ainsi
                    qu'un poste Croix Rouge / Prévention en cas de problèmes. Les
                    champs nous sont prêtés durant le week-end du festival, pour
                    cela, mais aussi dans un esprit écolo, le mieux que vous
                    puissiez faire est de les respecter ! Laissez votre
                    emplacement le plus propre possible avant de nous quitter !
                    Tous les objets dangereux ou jugés comme tels ainsi que les
                    banderoles à caractère politique, religieux, idéologique ou
                    publicitaire sont interdits. Les animaux sont interdits sur le
                    site et le camping.
                  </p>
                </div>
              </div>
              <!-- entry-description -->
            </div>
          </div>
        <!-- entry-content -->  
      </div>
      <!-- container -->
    </div>
    <!-- main-content -->

    <footer class="site-footer about-us mt-4">
      <!-- .site-footer -->

      <div class="footer-content-wrapper">
        <div class="container">
          <img
                src="images\Logo-home.png"
                width="95"
                height="95"
                class="d-inline-block align-top mb-4"
                alt=""
            />
          <div class="row">
            <div class="col-12 col-md-6 flex justify-start align-start">
              <h2>Voir également</h2>

              <a href="programmation">Programmation</a>
              <a href="ticket">Billetterie</a>
              <a href="trajet">Se rendre à APOKATOA</a>
              <a href="hebergement">Hébergement</a>
            </div>
            <div class="col-12 col-md-6">
              <h2>Suivez-nous sur les réseaux</h2>
              <div class="footer-social">
                <ul class="flex justify-content-center align-items-center">
                  <li>
                    <a href="https://www.facebook.com/Apokatoa-102719905192097/"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/apokatoa/"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-spotify"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <div class="copyright-info">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
        <!-- container -->
      </div>
      <!-- footer-content-wrapper -->
    </footer>
    <!-- site-footer -->

    <script type="text/javascript" src="js/test.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/scrollCue.min.js"></script>
    <script type="text/javascript">
      scrollCue.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </body>
</html>
