<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Apokatoa Festival</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header class="site-header">
      <nav class="nav">
        <div class="container">
          <div class="logo">
            <a href="/"
              ><img
                src="images\Logo.png"
                width="65"
                height="65"
                class="d-inline-block align-top"
                alt=""
            /></a>
          </div>
          <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              <li><a href="/">Accueil</a></li>
              <li><a href="programmation">Programmation</a></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Le Festival
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="trajet">Se rendre à APOKATOA</a>
                  <a class="dropdown-item" href="#">Hébergement</a>
                  <a class="dropdown-item" href="#">Manger et boire</a>
                  <a class="dropdown-item" href="#">Prévention</a>
                </div>
              </li>
              <li><a href="about-us">À propos</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
          <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </div>
      </nav>
      <!-- header-bar -->
    </header>
    <!-- .site-header -->

    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-12 offset-lg-2 col-lg-10">
            <div class="entry-header">
              <h2 class="ml15">
                <span id="apo" class="word">APOKATOA</span>
                <span id="fest" class="word">Fest.</span>
              </h2>

              <div class="entry-meta-date">jj.mm.nnnn</div>
              <!-- .entry-meta-date -->
            </div>
            <!-- .entry-header -->
            <!---->
          </div>
          <!-- .col-12 -->
        </div>
        <!-- row -->

        <div class="row">
          <div class="col-12">
            <div class="entry-footer">
              <a href="programmation" class="btn current">Programmation</a>
              <a href="ticket" class="btn">Billeterie</a>
            </div>
          </div>
        </div>
      </div>
      <!-- .container -->
    </div>
    <!-- .hero-content -->

    <div class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="lineup-artists-headline">
              <div class="entry-title">
                <p>...</p>
                <h2>La Line up Artistes</h2>
              </div>
              <!-- entry-title -->

              <div class="lineup-artists">
                <div class="lineup-artists-wrap flex flex-wrap">
                  <figure class="featured-image">
                    <a href="#">
                      <img src="images/black-chick.jpg" alt="" />
                    </a>
                  </figure>
                  <!-- featured-image -->

                  <div class="lineup-artists-description">
                    <div class="lineup-artists-description-container">
                      <div class="entry-title">Artiste 1</div>
                      <!-- entry-title -->

                      <div class="entry-content">
                        <p>
                          Quisque at erat eu libero consequat tempus. Quisque
                          mole stie convallis tempus. Ut semper purus metus, a
                          euismod sapien sodales ac. Duis viverra eleifend
                          fermentum.
                        </p>
                      </div>
                      <!-- entry-content -->

                      <div class="box-link">
                        <a href=""><img src="images/box.jpg" alt="" /></a>
                      </div>
                      <!-- box-link -->
                    </div>
                    <!-- lineup-artists-description-container -->
                  </div>
                  <!-- lineup-artists-description -->
                </div>
                <!-- lineup-artists-wrap -->

                <div class="lineup-artists-wrap flex flex-wrap">
                  <div class="lineup-artists-description">
                    <figure class="featured-image d-md-none">
                      <a href="#">
                        <img src="images/mathew-kane.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->

                    <div class="lineup-artists-description-container">
                      <div class="entry-title">Artiste 2</div>
                      <!-- entry-title -->

                      <div class="entry-content">
                        <p>
                          Quisque at erat eu libero consequat tempus. Quisque
                          mole stie convallis tempus. Ut semper purus metus, a
                          euismod sapien sodales ac. Duis viverra eleifend
                          fermentum.
                        </p>
                      </div>
                      <!-- entry-content -->

                      <div class="box-link">
                        <a href="#"><img src="images/box.jpg" alt="" /></a>
                      </div>
                      <!-- box-link -->
                    </div>
                    <!-- lineup-artists-description-container -->
                  </div>
                  <!-- lineup-artists-description -->

                  <figure class="featured-image d-none d-md-block">
                    <a href="#">
                      <img src="images/mathew-kane.jpg" alt="" />
                    </a>
                  </figure>
                  <!-- featured-image -->
                </div>
                <!-- lineup-artists-wrap -->

                <div class="lineup-artists-wrap flex flex-wrap">
                  <figure class="featured-image">
                    <a href="#"> <img src="images/eric-ward.jpg" alt="" /> </a>
                  </figure>
                  <!-- featured-image -->

                  <div class="lineup-artists-description">
                    <div class="lineup-artists-description-container">
                      <div class="entry-title">Artiste 3</div>
                      <!-- entry-title -->

                      <div class="entry-content">
                        <p>
                          Quisque at erat eu libero consequat tempus. Quisque
                          mole stie convallis tempus. Ut semper purus metus, a
                          euismod sapien sodales ac. Duis viverra eleifend
                          fermentum.
                        </p>
                      </div>
                      <!-- entry-content -->

                      <div class="box-link">
                        <a href="#"> <img src="images/box.jpg" alt="" /></a>
                      </div>
                      <!-- box-link -->
                    </div>
                    <!-- lineup-artists-description-container -->
                  </div>
                  <!-- lineup-artists-description -->
                </div>
                <!-- lineup-artists-wrap -->
              </div>
              <!-- lineup-artists -->
            </div>
            <!-- lineup-artists-headline -->
          </div>
          <!-- col-12 -->
        </div>
        <!-- row -->
        <div class="row justify-content-center">
          <div class="see-complete-lineup">
            <div class="entry-footer">
              <a href="programmation" class="btn">Toute la line up</a>
            </div>
          </div>
        </div>
        <!-- container -->
        <!-- .next-event-slider-wrap -->
      </div>
      <!-- homepage-next-events -->

      <div class="home-page-last-news">
        <div class="container">
          <div class="header">
            <div class="entry-title">
              <p>lorum epsum</p>
              <h2>APOKATOA News</h2>
            </div>
            <!-- entry-title -->
          </div>
          <!-- header -->

          <div class="home-page-last-news-wrap">
            <div class="row">
              <div class="col-12 col-md-6">
                <figure class="featured-image">
                  <a href="#">
                    <img
                      src="images/news-image-1.jpg"
                      alt="fesival+celebration"
                    />
                  </a>
                </figure>
                <!-- featured-image -->

                <div class="box-link-date">
                  <a href="#">03.12.18</a>
                </div>

                <div class="content-wrapper">
                  <div class="entry-content">
                    <div class="entry-header">
                      <h2><a href="#">News 1</a></h2>
                    </div>
                    <!-- entry-header -->

                    <div class="entry-meta">
                      <span class="author-name"
                        ><a href="#"> nom de l'auteur</a></span
                      >
                      <span class="space">|</span>
                      <span class="comments-count"
                        ><a href="#">3 comments</a></span
                      >
                    </div>
                    <!-- entry-meta -->

                    <div class="entry-description">
                      <p>
                        Quisque at erat eu libero consequat tempus. Quisque mole
                        stie convallis tempus. Ut semper purus metus, a euismod
                        sapien sodales ac. Duis viverra eleifend fermentum.
                      </p>
                    </div>
                    <!-- entry-description -->
                  </div>
                  <!-- entry-content -->
                </div>
                <!-- content-wrapper -->
              </div>
              <!-- .col-6 -->

              <div class="col-12 col-md-6">
                <figure class="featured-image">
                  <a href="#">
                    <img
                      src="images/news-image-1.jpg"
                      alt="fesival+celebration"
                    />
                  </a>
                </figure>
                <!-- featured-image -->

                <div class="box-link-date">
                  <a href="">03.12.18</a>
                </div>

                <div class="content-wrapper">
                  <div class="entry-content">
                    <div class="entry-header">
                      <h2><a href="#">Calendrier de cette année</a></h2>
                    </div>
                    <!-- entry-header -->

                    <div class="entry-meta">
                      <span class="author-name"
                        ><a href="#">nom de l'auteur</a></span
                      >
                      <span class="space">|</span>
                      <span class="comments-count"
                        ><a href="#">3 comments</a></span
                      >
                    </div>
                    <!-- entry-meta -->

                    <div class="entry-description">
                      <p>
                        Quisque at erat eu libero consequat tempus. Quisque mole
                        stie convallis tempus. Ut semper purus metus, a euismod
                        sapien sodales ac. Duis viverra eleifend fermentum.
                      </p>
                    </div>
                    <!-- entry-description -->
                  </div>
                  <!-- entry-content -->
                </div>
                <!-- .content-wrapper -->
              </div>
              <!-- col-6 -->
            </div>
            <!-- row -->
          </div>
          <!-- home-page-last-news-wrap -->
        </div>
        <!-- container -->
      </div>
      <!-- home-page-last-news -->
    </div>

    <footer class="site-footer">
      <div
        class="footer-cover-title flex justify-content-center align-items-center"
      >
        <h2>APOKATOA</h2>
      </div>
      <!-- .site-footer -->

      <div class="footer-content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="entry-title">
                <a href="#">APOKATOA</a>
              </div>
              <!-- entry-title -->

              <div class="entry-mail">
                <a href="#">apokatoa@gmail.com</a>
              </div>
              <!-- .entry-mail -->

              <div class="copyright-info">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved |
                <a href="about-us">APOKATOA</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
              <!-- copyright-info -->

              <div class="footer-social">
                <ul class="flex justify-content-center align-items-center">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <!-- footer-social -->
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- footer-content-wrapper -->
    </footer>
    <!-- site-footer -->

    <script type="text/javascript" src="js/test.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </body>
</html>
