<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Apokatoa Festival</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Scrollcue CSS -->
    <link rel="stylesheet" href="css/ScrollCue.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header class="site-header">
      <nav class="nav">
        <div class="container">
          <div class="logo">
            <a href="/"
              ><img
                src="images\Logo-home.png"
                width="65"
                height="65"
                class="d-inline-block align-top"
                alt=""
            /></a>
          </div>
          <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              <li><a href="/">Accueil</a></li>
              <li><a href="programmation">Programmation</a></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Le Festival
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="trajet"
                    >Se rendre à APOKATOA</a
                  >
                  <a class="dropdown-item" href="hebergement">Hébergement</a>
                  <a class="dropdown-item" href="#">Manger et boire</a>
                  <a class="dropdown-item" href="#">Prévention</a>
                </div>
              </li>
              <li><a href="about-us">À propos</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
          <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </div>
      </nav>
      <!-- header-bar -->
    </header>
    <!-- .site-header -->

    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-12 offset-lg-2 col-lg-10">
            <div class="entry-header">
              <svg id="logoApocatoaHome" xmlns="http://www.w3.org/2000/svg" width="1233.511" height="282.832" viewBox="0 0 1233.511 282.832">
                <g id="Groupe_4" data-name="Groupe 4" transform="translate(-4024.91 -21.756)">
                  <path id="Tracé_5" data-name="Tracé 5" d="M.756-29.4v.084a5.381,5.381,0,0,1,3.15,5.04V-5.124A5.381,5.381,0,0,1,.756-.084V0h12.81V-.084a5.483,5.483,0,0,1-3.108-5.04V-15.666h1.6c2.856,0,4.368,1.68,5.67,5.67h.084V-21.084h-.084c-1.512,3.528-2.814,4.83-5.67,4.83h-1.6V-28.812h4.914c3.7,0,6.384,2.814,8.064,8.4h.084L22.932-29.4ZM47.586,0l.63-9.744h-.084c-1.89,5.838-4.41,9.156-8.316,9.156H34.482V-15.666h1.554c2.856,0,4.368,1.68,5.67,5.67h.084V-21.084h-.084c-1.512,3.528-2.814,4.83-5.67,4.83H34.482V-28.812h5.334c3.276,0,5.8,2.814,7.6,8.4H47.5L46.914-29.4H24.78v.084a5.381,5.381,0,0,1,3.15,5.04V-5.124a5.381,5.381,0,0,1-3.15,5.04V0ZM62.2.462c4.242,0,9.828-2.142,9.828-9.072,0-4.662-2.982-7.014-9.156-9.156a36.414,36.414,0,0,1-6.594-2.94,3.778,3.778,0,0,1-1.764-3.318c0-3.234,2.436-5.166,5.628-5.166,3.906,0,7.056,3.15,10.458,9.7h.084L70.14-29.4a9.649,9.649,0,0,1-1.89.21,27.936,27.936,0,0,1-3.444-.294,31.773,31.773,0,0,0-4.2-.336c-4.368.042-10.038,2.52-10,9.03A7.71,7.71,0,0,0,52.416-15.5c1.218,1.386,3.444,2.646,6.594,3.7a41.846,41.846,0,0,1,5.46,2.184A9.594,9.594,0,0,1,66.444-8.4a4.032,4.032,0,0,1,1.638,3.066c0,3.318-2.1,5.166-5.418,5.166a9.683,9.683,0,0,1-6.216-2.646,13.881,13.881,0,0,1-2.226-2.73c-.714-1.134-1.3-2.1-1.68-2.856-.378-.8-.84-1.722-1.3-2.814h-.084V.378a7.089,7.089,0,0,1,3.7-.8A22.29,22.29,0,0,1,58.338,0,24.989,24.989,0,0,0,62.2.462ZM92.316,0V-.084a5.483,5.483,0,0,1-3.108-5.04V-28.812H91.77c3.15,0,5.25,2.184,7.266,7.056h.084L98.406-29.4H73.374L72.7-21.756h.084c2.016-4.872,4.158-7.056,7.224-7.056h2.6V-5.124a5.381,5.381,0,0,1-3.15,5.04V0Zm20.916,0V-.084a5.483,5.483,0,0,1-3.108-5.04V-24.276a5.483,5.483,0,0,1,3.108-5.04V-29.4H100.38v.084a5.381,5.381,0,0,1,3.15,5.04V-5.124a5.381,5.381,0,0,1-3.15,5.04V0Zm22.344-29.316c2.6.966,3.318,2.814,2.184,5.586L131.334-7.98l-6.51-15.876c-1.134-2.688-.378-4.494,2.184-5.46V-29.4h-13.44v.084c1.47.84,2.94,2.982,4.494,6.468L128.352.588h.084l9.87-24.066c1.218-2.856,2.478-4.788,3.822-5.838V-29.4h-6.552Zm13.86-.756h-.084L139.566-5.8a13.572,13.572,0,0,1-3.738,5.712V0h6.552V-.084q-3.843-1.449-2.268-5.418l1.26-3.15h10.206l1.26,3.108c1.05,2.73.336,4.536-2.184,5.46V0h13.4V-.084c-1.512-.882-3.024-3.024-4.494-6.468Zm-2.982,8.736,4.872,12.1h-9.7Zm42.756,9.912a27.884,27.884,0,0,1-2.73,6.09,10.953,10.953,0,0,1-1.89,2.478,7.92,7.92,0,0,1-5.46,2.268h-5V-24.276a5.483,5.483,0,0,1,3.108-5.04V-29.4H164.388v.084a5.381,5.381,0,0,1,3.15,5.04V-5.124a5.381,5.381,0,0,1-3.15,5.04V0h24.024l.882-11.424Z" transform="translate(5069 304)" fill="#F6BB33"/>
                  <path id="Tracé_4" data-name="Tracé 4" d="M97.026-221.244h-.618l-72,178.6C16.377-22.557,7.107-8.652-3.09-.618V0h48.2V-.618Q16.84-11.278,28.428-40.479L37.7-63.654h75.087l9.27,22.866C129.78-20.7,124.527-7.416,105.987-.618V0h98.571V-.618C193.434-7.107,182.31-22.866,171.495-48.2ZM75.087-156.972,110.931-67.98H39.552ZM271.92,0a88.932,88.932,0,0,0,54.693-18.849c16.068-12.669,26.574-35.535,26.574-63.036,0-48.2-30.282-72.615-76.941-72.615H204.558v.618c14.523,7.416,16.377,17.3,16.377,37.08V17.922c0,19.776-1.854,29.664-16.377,37.08v.618H281.19V55c-14.523-7.416-16.377-17.3-16.377-37.08V0Zm-6.489-150.174c11.742,0,21.63,8.961,29.973,26.574s12.669,39.243,12.669,64.272c0,21.939-3.09,36.462-8.961,43.878S284.589-4.326,273.465-4.326h-8.652V-150.174ZM444.96,3.4c19.467,0,36.771-7.107,51.912-21.63,15.45-14.523,23.175-33.99,23.175-59.019,0-26.265-10.815-48.513-25.956-60.873s-33.372-19.158-49.749-19.158c-19.467,0-36.771,7.107-51.912,21.63s-22.866,33.99-22.866,59.019c0,26.265,10.815,48.513,25.956,60.873S428.583,3.4,444.96,3.4Zm8.034-3.708q-14.369,0-25.956-27.81C419.313-46.659,415.3-68.907,415.3-94.554c0-37.389,10.2-59.019,21.321-59.019q14.368,0,25.956,27.81c7.725,18.54,11.742,40.788,11.742,66.435C474.315-21.939,464.118-.309,452.994-.309ZM618.309-109.386,630.36-120.51c17.922-16.377,36.771-27.5,56.856-33.372v-.618H616.764v.618c18.849,5.871,24.1,15.759,10.506,29.664L587.409-87.447V-216.3H527.154v.618c14.523,7.416,16.377,17.3,16.377,37.08V-37.7c0,19.776-1.854,29.664-16.377,37.08V0h76.632V-.618c-14.523-7.416-16.377-17.3-16.377-37.08V-85.9l30.282,48.2c8.961,14.832,12.051,18.54,11.742,26.883,0,4.017-1.854,7.416-5.871,10.2V0h72.924V-.618C690-4.017,678.873-18.231,662.5-42.951ZM816.687-120.51c0-21.321-12.36-36.153-40.788-36.153-13.6,0-30.282,1.854-50.058,5.253l-25.647,34.3.618.618c26.265-23.484,45.114-35.226,55.929-35.226,11.124,0,17.922,10.2,17.922,23.793,0,8.652-2.781,15.759-8.343,21.63-5.562,5.562-16.377,12.978-32.136,22.557-15.141,8.961-25.647,16.377-31.518,22.866s-8.961,14.832-8.961,25.647c0,9.579,3.4,17.922,9.888,25.647,6.8,7.416,16.686,11.124,29.355,11.124,11.124,0,24.72-6.8,40.479-20.085V0h59.637V-.618c-14.523-7.416-16.377-17.3-16.377-37.08ZM756.123-13.6c-10.2,0-21.012-13.905-21.012-31.518v-3.4c.309-13.905,3.708-24.72,9.579-32.445,3.4-4.326,12.978-12.978,28.737-25.647v72C773.427-21.939,766.011-13.6,756.123-13.6ZM931.017-.618C915.258-7.107,905.061-13.905,901.044-20.7c-4.017-7.107-6.18-17.3-6.18-30.9v-98.571h27.192V-154.5H894.864v-51.912h-.618a124.706,124.706,0,0,1-28.428,36.771q-17.149,15.3-32.445,15.759v3.708h17.613v94.245c0,11.742.309,20.394,1.236,25.647s4.017,10.815,8.652,16.995C870.453-.927,892.392,2.163,931.017,0ZM1001.469,3.4c19.467,0,36.771-7.107,51.912-21.63,15.45-14.523,23.175-33.99,23.175-59.019,0-26.265-10.815-48.513-25.956-60.873s-33.372-19.158-49.749-19.158c-19.467,0-36.771,7.107-51.912,21.63s-22.866,33.99-22.866,59.019c0,26.265,10.815,48.513,25.956,60.873S985.092,3.4,1001.469,3.4ZM1009.5-.309q-14.368,0-25.956-27.81C975.822-46.659,971.8-68.907,971.8-94.554c0-37.389,10.2-59.019,21.321-59.019q14.369,0,25.956,27.81c7.725,18.54,11.742,40.788,11.742,66.435C1030.824-21.939,1020.627-.309,1009.5-.309Zm200.541-120.2c0-21.321-12.36-36.153-40.788-36.153-13.6,0-30.282,1.854-50.058,5.253l-25.647,34.3.618.618c26.265-23.484,45.114-35.226,55.929-35.226,11.124,0,17.922,10.2,17.922,23.793,0,8.652-2.781,15.759-8.343,21.63-5.562,5.562-16.377,12.978-32.136,22.557-15.141,8.961-25.647,16.377-31.518,22.866s-8.961,14.832-8.961,25.647c0,9.579,3.4,17.922,9.888,25.647,6.8,7.416,16.686,11.124,29.355,11.124,11.124,0,24.72-6.8,40.479-20.085V0h59.637V-.618c-14.523-7.416-16.377-17.3-16.377-37.08ZM1149.48-13.6c-10.2,0-21.012-13.905-21.012-31.518v-3.4c.309-13.905,3.708-24.72,9.579-32.445,3.4-4.326,12.978-12.978,28.737-25.647v72C1166.784-21.939,1159.368-13.6,1149.48-13.6Z" transform="translate(4030 245)" fill="#F6BB33"/>
                </g>
              </svg>
              

              <!-- .entry-meta-date -->
            </div>
            <!-- .entry-header -->
            <!---->
          </div>
          <!-- .col-12 -->
        </div>
        <!-- row -->

        <video id="videoBackground" autoplay muted loop>
          <source src="video/overview_apokatoa_black_white.mp4" type="video/mp4">
        </video>

        
          <div class="entry-footer">
            <div class="row justify-content-center">
              <a href="programmation" class="btn current">
                <p>Programmation</p>
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#3898DF" d="M42.4,-45.9C57.8,-37.5,75.3,-26.9,81.6,-11.4C87.9,4.1,83,24.6,70.3,34.9C57.6,45.2,37,45.2,19,51.6C0.9,58,-14.7,70.6,-29.9,70.2C-45,69.8,-59.8,56.4,-71,39.7C-82.2,23,-89.9,2.9,-81.3,-8.8C-72.7,-20.5,-47.7,-23.8,-31.5,-32.1C-15.2,-40.3,-7.6,-53.5,2.9,-57C13.4,-60.4,26.9,-54.3,42.4,-45.9Z" transform="translate(100 100)" />
                </svg>
              </a>
              <a href="ticket" class="btn">
                <p>Billeterie</p>
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#E64432" d="M39.7,-41.1C54.7,-34.8,72.1,-25.3,79.7,-9.9C87.3,5.4,85.1,26.6,72.9,36.8C60.7,46.9,38.5,46,20.7,49C2.9,52,-10.5,59,-24.9,58.2C-39.3,57.4,-54.5,48.8,-62.1,35.8C-69.8,22.8,-69.7,5.2,-65.8,-10.6C-61.8,-26.5,-53.9,-40.7,-42.3,-47.5C-30.7,-54.3,-15.4,-53.7,-1.5,-52C12.4,-50.2,24.8,-47.3,39.7,-41.1Z" transform="translate(100 100)" />
                </svg>
              </a>
            </div>
          </div>

        </div>
      </div>
      <!-- .container -->
    </div>
    <!-- .hero-content -->

    <div class="content-section">
      <div class="gradient-transition"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="lineup-artists-headline">
              <div class="entry-title text-center">
                <h2>La Line up</h2>
              </div>
              <!-- entry-title -->

              <div class="lineup-artists">
                <div class="lineup-artists-wrap flex flex-wrap">
                  <figure class="featured-image" data-cue="zoomIn" data-duration="800">
                    <a href="#">
                      <img src="images/artist1.png" alt="" />
                    </a>
                  </figure>
                  <!-- featured-image -->

                  <div class="lineup-artists-description">
                    <div class="lineup-artists-description-container" data-cue="slideInLeft" data-duration="800" data-delay="600">
                      <div class="entry-title pb-4">Biga*Ranx</div>
                      <!-- entry-title -->
                      <div class="genre-music">
                        <p>dub</p>
                        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                          <path fill="#E64432" d="M47,-15.4C51.8,-0.5,40.3,19.6,24.9,29.6C9.5,39.7,-9.8,39.9,-26.7,29.3C-43.6,18.8,-58.2,-2.4,-53.4,-17.3C-48.5,-32.2,-24.3,-40.8,-1.6,-40.3C21.1,-39.8,42.2,-30.2,47,-15.4Z" transform="translate(100 100)" />
                        </svg>
                      </div>
                      <div class="entry-content pt-4">
                        <p>
                          Biga*Ranx est né en France en 1988 et se tourne très tôt vers les sonorités jamaïcaines. Son attention se porte sur les rythmes de Yellowman et de DJ Screw. Dès l’âge de 14 ans, il se consacre entièrement à la musique, se forgeant un style personnel à force de travail, d’écriture et de composition.
                        </p>
                      </div>
                      <div class="row music-app mx-0 mt-4">
                        <a class="mr-3">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                  viewBox="0 0 427.652 427.652" style="enable-background:new 0 0 427.652 427.652;" xml:space="preserve">
                                <path style="fill:#00D95F;" d="M213.826,0C95.733,0,0,95.733,0,213.826s95.733,213.826,213.826,213.826
                                  s213.826-95.733,213.826-213.826S331.919,0,213.826,0z M306.886,310.32c-2.719,4.652-7.612,7.246-12.638,7.247
                                  c-2.506,0-5.044-0.645-7.364-2c-38.425-22.456-82.815-26.065-113.295-25.138c-33.763,1.027-58.523,7.692-58.769,7.76
                                  c-7.783,2.126-15.826-2.454-17.961-10.236c-2.134-7.781,2.43-15.819,10.209-17.962c1.116-0.307,27.76-7.544,64.811-8.766
                                  c21.824-0.72,42.834,0.801,62.438,4.52c24.83,4.71,47.48,12.978,67.322,24.574C308.612,294.393,310.96,303.349,306.886,310.32z
                                  M334.07,253.861c-3.22,5.511-9.016,8.583-14.97,8.584c-2.968,0-5.975-0.763-8.723-2.369c-45.514-26.6-98.097-30.873-134.2-29.776
                                  c-39.994,1.217-69.323,9.112-69.614,9.192c-9.217,2.515-18.746-2.906-21.275-12.124c-2.528-9.218,2.879-18.738,12.093-21.277
                                  c1.322-0.364,32.882-8.937,76.77-10.384c25.853-0.852,50.739,0.949,73.96,5.354c29.412,5.58,56.241,15.373,79.744,29.108
                                  C336.115,234.995,338.897,245.603,334.07,253.861z M350.781,202.526c-3.641,0-7.329-0.936-10.7-2.906
                                  c-108.207-63.238-248.572-25.643-249.977-25.255c-11.313,3.117-23.008-3.527-26.124-14.839
                                  c-3.117-11.312,3.527-23.008,14.839-26.124c1.621-0.447,40.333-10.962,94.166-12.737c31.713-1.044,62.237,1.164,90.72,6.567
                                  c36.077,6.844,68.987,18.856,97.815,35.704c10.13,5.92,13.543,18.931,7.623,29.061C365.193,198.757,358.084,202.526,350.781,202.526
                                  z"/>
                          </svg>
                        </a>
                        <a>
                          <svg version="1.1" viewBox="0 0 250 163.17" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                              <defs>
                              <linearGradient id="e" x1="90.71" x2="90.5" y1="62.45" y2="49.29" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#358c7b" offset="0"/>
                              <stop stop-color="#33a65e" offset=".5256"/>
                              </linearGradient>
                              <linearGradient id="a" x1="79.29" x2="101.91" y1="79.49" y2="67.97" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#222b90" offset="0"/>
                              <stop stop-color="#367b99" offset="1"/>
                              </linearGradient>
                              <linearGradient id="b" x2="21.95" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#f90" offset="0"/>
                              <stop stop-color="#ff8000" offset="1"/>
                              </linearGradient>
                              <linearGradient id="h" x1="26.55" x2="48.49" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#ff8000" offset="0"/>
                              <stop stop-color="#cc1953" offset="1"/>
                              </linearGradient>
                              <linearGradient id="g" x1="53.09" x2="75.03" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#cc1953" offset="0"/>
                              <stop stop-color="#241284" offset="1"/>
                              </linearGradient>
                              <linearGradient id="i" x1="79.6" x2="101.55" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#222b90" offset="0"/>
                              <stop stop-color="#3559a6" offset="1"/>
                              </linearGradient>
                              <linearGradient id="c" x1="52.22" x2="75.9" y1="77.19" y2="70.27" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#cc1953" offset="0"/>
                              <stop stop-color="#241284" offset="1"/>
                              </linearGradient>
                              <linearGradient id="f" x1="25.76" x2="49.27" y1="69.45" y2="78.01" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#fc0" offset=".0026698"/>
                              <stop stop-color="#ce1938" offset=".9999"/>
                              </linearGradient>
                              <linearGradient id="d" x1="28.39" x2="46.65" y1="47.49" y2="64.33" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#ffd100" offset=".0026698"/>
                              <stop stop-color="#fd5a22" offset="1"/>
                              </linearGradient>
                              </defs>
                              <path d="m250 0v31.625h-54.046v-31.625h54.046z" fill="#40ab5d" stroke-width="2.4611"/>
                              <path d="m250 43.832v31.625h-54.046v-31.625h54.046z" fill="url(#e)" stroke-width="2.4611"/>
                              <path d="m250 87.69v31.625h-54.046v-31.625h54.046z" fill="url(#a)" stroke-width="2.4611"/>
                              <path d="m54.046 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#b)" stroke-width="2.4611"/>
                              <path d="m119.34 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#h)" stroke-width="2.4611"/>
                              <path d="m184.73 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#g)" stroke-width="2.4611"/>
                              <path d="m250 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#i)" stroke-width="2.4611"/>
                              <path d="m184.73 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#c)" stroke-width="2.4611"/>
                              <path d="m119.34 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#f)" stroke-width="2.4611"/>
                              <path d="m119.34 43.832v31.625h-54.071v-31.625h54.071z" fill="url(#d)" stroke-width="2.4611"/>
                          </svg>
                        </a>
                      </div>
                      <!-- entry-content -->

                      <!-- box-link -->
                    </div>
                    <!-- lineup-artists-description-container -->
                  </div>
                  <!-- lineup-artists-description -->
                </div>
                <!-- lineup-artists-wrap -->

                <div class="lineup-artists-wrap flex flex-wrap">
                  <div class="lineup-artists-description">
                    <figure class="featured-image d-md-none">
                      <a href="#">
                        <img src="images/artist2.png" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->

                    <div class="lineup-artists-description-container" data-cue="slideInRight" data-duration="800" data-delay="600">
                      <div class="entry-title pb-4">Angèle</div>
                      <!-- entry-title -->
                      <div class="genre-music">
                        <p>pop</p>
                        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                          <path fill="#3897DE" d="M47,-15.4C51.8,-0.5,40.3,19.6,24.9,29.6C9.5,39.7,-9.8,39.9,-26.7,29.3C-43.6,18.8,-58.2,-2.4,-53.4,-17.3C-48.5,-32.2,-24.3,-40.8,-1.6,-40.3C21.1,-39.8,42.2,-30.2,47,-15.4Z" transform="translate(100 100)" />
                        </svg>
                      </div>
                      <div class="entry-content pt-4">
                        <p>
                          Angèle est l’incarnation parfaite de sa génération, magmatique et syncrétique, où les frontières entre les genres musicaux ne sont plus qu’un souvenir lointain. De la pop, du rap et de l’électro et bien plus encore. Longtemps dans les pas de Damso et Stromae, Angèle marche désormais à leurs côtés. La Belgique tient son nouveau prodige.
                        </p>
                      </div>
                      <div class="row music-app mx-0 mt-4">
                        <a class="mr-3">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                  viewBox="0 0 427.652 427.652" style="enable-background:new 0 0 427.652 427.652;" xml:space="preserve">
                                <path style="fill:#00D95F;" d="M213.826,0C95.733,0,0,95.733,0,213.826s95.733,213.826,213.826,213.826
                                  s213.826-95.733,213.826-213.826S331.919,0,213.826,0z M306.886,310.32c-2.719,4.652-7.612,7.246-12.638,7.247
                                  c-2.506,0-5.044-0.645-7.364-2c-38.425-22.456-82.815-26.065-113.295-25.138c-33.763,1.027-58.523,7.692-58.769,7.76
                                  c-7.783,2.126-15.826-2.454-17.961-10.236c-2.134-7.781,2.43-15.819,10.209-17.962c1.116-0.307,27.76-7.544,64.811-8.766
                                  c21.824-0.72,42.834,0.801,62.438,4.52c24.83,4.71,47.48,12.978,67.322,24.574C308.612,294.393,310.96,303.349,306.886,310.32z
                                  M334.07,253.861c-3.22,5.511-9.016,8.583-14.97,8.584c-2.968,0-5.975-0.763-8.723-2.369c-45.514-26.6-98.097-30.873-134.2-29.776
                                  c-39.994,1.217-69.323,9.112-69.614,9.192c-9.217,2.515-18.746-2.906-21.275-12.124c-2.528-9.218,2.879-18.738,12.093-21.277
                                  c1.322-0.364,32.882-8.937,76.77-10.384c25.853-0.852,50.739,0.949,73.96,5.354c29.412,5.58,56.241,15.373,79.744,29.108
                                  C336.115,234.995,338.897,245.603,334.07,253.861z M350.781,202.526c-3.641,0-7.329-0.936-10.7-2.906
                                  c-108.207-63.238-248.572-25.643-249.977-25.255c-11.313,3.117-23.008-3.527-26.124-14.839
                                  c-3.117-11.312,3.527-23.008,14.839-26.124c1.621-0.447,40.333-10.962,94.166-12.737c31.713-1.044,62.237,1.164,90.72,6.567
                                  c36.077,6.844,68.987,18.856,97.815,35.704c10.13,5.92,13.543,18.931,7.623,29.061C365.193,198.757,358.084,202.526,350.781,202.526
                                  z"/>
                          </svg>
                        </a>
                        <a>
                          <svg version="1.1" viewBox="0 0 250 163.17" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                              <defs>
                              <linearGradient id="e" x1="90.71" x2="90.5" y1="62.45" y2="49.29" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#358c7b" offset="0"/>
                              <stop stop-color="#33a65e" offset=".5256"/>
                              </linearGradient>
                              <linearGradient id="a" x1="79.29" x2="101.91" y1="79.49" y2="67.97" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#222b90" offset="0"/>
                              <stop stop-color="#367b99" offset="1"/>
                              </linearGradient>
                              <linearGradient id="b" x2="21.95" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#f90" offset="0"/>
                              <stop stop-color="#ff8000" offset="1"/>
                              </linearGradient>
                              <linearGradient id="h" x1="26.55" x2="48.49" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#ff8000" offset="0"/>
                              <stop stop-color="#cc1953" offset="1"/>
                              </linearGradient>
                              <linearGradient id="g" x1="53.09" x2="75.03" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#cc1953" offset="0"/>
                              <stop stop-color="#241284" offset="1"/>
                              </linearGradient>
                              <linearGradient id="i" x1="79.6" x2="101.55" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#222b90" offset="0"/>
                              <stop stop-color="#3559a6" offset="1"/>
                              </linearGradient>
                              <linearGradient id="c" x1="52.22" x2="75.9" y1="77.19" y2="70.27" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#cc1953" offset="0"/>
                              <stop stop-color="#241284" offset="1"/>
                              </linearGradient>
                              <linearGradient id="f" x1="25.76" x2="49.27" y1="69.45" y2="78.01" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#fc0" offset=".0026698"/>
                              <stop stop-color="#ce1938" offset=".9999"/>
                              </linearGradient>
                              <linearGradient id="d" x1="28.39" x2="46.65" y1="47.49" y2="64.33" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#ffd100" offset=".0026698"/>
                              <stop stop-color="#fd5a22" offset="1"/>
                              </linearGradient>
                              </defs>
                              <path d="m250 0v31.625h-54.046v-31.625h54.046z" fill="#40ab5d" stroke-width="2.4611"/>
                              <path d="m250 43.832v31.625h-54.046v-31.625h54.046z" fill="url(#e)" stroke-width="2.4611"/>
                              <path d="m250 87.69v31.625h-54.046v-31.625h54.046z" fill="url(#a)" stroke-width="2.4611"/>
                              <path d="m54.046 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#b)" stroke-width="2.4611"/>
                              <path d="m119.34 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#h)" stroke-width="2.4611"/>
                              <path d="m184.73 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#g)" stroke-width="2.4611"/>
                              <path d="m250 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#i)" stroke-width="2.4611"/>
                              <path d="m184.73 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#c)" stroke-width="2.4611"/>
                              <path d="m119.34 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#f)" stroke-width="2.4611"/>
                              <path d="m119.34 43.832v31.625h-54.071v-31.625h54.071z" fill="url(#d)" stroke-width="2.4611"/>
                          </svg>
                        </a>
                      </div>
                      <!-- entry-content -->
                      <!-- box-link -->
                    </div>
                    <!-- lineup-artists-description-container -->
                  </div>
                  <!-- lineup-artists-description -->

                  <figure class="featured-image d-none d-md-block" data-cue="zoomIn" data-duration="800">
                    <a href="#">
                      <img src="images/artist2.png" alt="" />
                    </a>
                  </figure>
                  <!-- featured-image -->
                </div>
                <!-- lineup-artists-wrap -->

                <div class="lineup-artists-wrap flex flex-wrap">
                  <figure class="featured-image" data-cue="zoomIn" data-duration="800">
                    <a href="#"> <img src="images/artist3.png" alt="" /></a>
                  </figure>
                  <!-- featured-image -->

                  <div class="lineup-artists-description">
                    <div class="lineup-artists-description-container" data-cue="slideInLeft" data-duration="800" data-delay="600">
                      <div class="entry-title pb-4">Bellaire</div>
                      <!-- entry-title -->
                      <div class="genre-music">
                        <p>dance</p>
                        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                          <path fill="#F5BA33" d="M62.7,-20.1C67.8,-4.5,49.4,19.1,31.2,29C13,38.9,-4.9,35.2,-25.6,23.1C-46.2,10.9,-69.5,-9.6,-65.7,-23.4C-61.9,-37.1,-30.9,-44.1,-1.1,-43.7C28.8,-43.4,57.5,-35.7,62.7,-20.1Z" transform="translate(100 100)" />
                        </svg>
                      </div>
                      <div class="entry-content pt-4">
                        <p>
                          Bellaire de 21 ans est à l'opposé d'un introverti qui s'épanouirait dans des sonorités sombres. Il a besoin de luminosité et de légèreté pour s'épanouir dans ce genre de musique soulèvement dont il fait partie, et ses sons peuvent faire transpirer même les plus paresseux d'entre nous en un rien de temps. Avec son nouvel EP «Date At The Disco», le producteur lillois (Nord de la France) est déterminé à nous convaincre que la house music est celle sur laquelle on peut danser.
                        </p>
                      </div>
                      <!-- entry-content -->
                      <div class="row music-app mx-0 mt-4">
                        <a class="mr-3">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                  viewBox="0 0 427.652 427.652" style="enable-background:new 0 0 427.652 427.652;" xml:space="preserve">
                                <path style="fill:#00D95F;" d="M213.826,0C95.733,0,0,95.733,0,213.826s95.733,213.826,213.826,213.826
                                  s213.826-95.733,213.826-213.826S331.919,0,213.826,0z M306.886,310.32c-2.719,4.652-7.612,7.246-12.638,7.247
                                  c-2.506,0-5.044-0.645-7.364-2c-38.425-22.456-82.815-26.065-113.295-25.138c-33.763,1.027-58.523,7.692-58.769,7.76
                                  c-7.783,2.126-15.826-2.454-17.961-10.236c-2.134-7.781,2.43-15.819,10.209-17.962c1.116-0.307,27.76-7.544,64.811-8.766
                                  c21.824-0.72,42.834,0.801,62.438,4.52c24.83,4.71,47.48,12.978,67.322,24.574C308.612,294.393,310.96,303.349,306.886,310.32z
                                  M334.07,253.861c-3.22,5.511-9.016,8.583-14.97,8.584c-2.968,0-5.975-0.763-8.723-2.369c-45.514-26.6-98.097-30.873-134.2-29.776
                                  c-39.994,1.217-69.323,9.112-69.614,9.192c-9.217,2.515-18.746-2.906-21.275-12.124c-2.528-9.218,2.879-18.738,12.093-21.277
                                  c1.322-0.364,32.882-8.937,76.77-10.384c25.853-0.852,50.739,0.949,73.96,5.354c29.412,5.58,56.241,15.373,79.744,29.108
                                  C336.115,234.995,338.897,245.603,334.07,253.861z M350.781,202.526c-3.641,0-7.329-0.936-10.7-2.906
                                  c-108.207-63.238-248.572-25.643-249.977-25.255c-11.313,3.117-23.008-3.527-26.124-14.839
                                  c-3.117-11.312,3.527-23.008,14.839-26.124c1.621-0.447,40.333-10.962,94.166-12.737c31.713-1.044,62.237,1.164,90.72,6.567
                                  c36.077,6.844,68.987,18.856,97.815,35.704c10.13,5.92,13.543,18.931,7.623,29.061C365.193,198.757,358.084,202.526,350.781,202.526
                                  z"/>
                          </svg>
                        </a>
                        <a>
                          <svg version="1.1" viewBox="0 0 250 163.17" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                              <defs>
                              <linearGradient id="e" x1="90.71" x2="90.5" y1="62.45" y2="49.29" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#358c7b" offset="0"/>
                              <stop stop-color="#33a65e" offset=".5256"/>
                              </linearGradient>
                              <linearGradient id="a" x1="79.29" x2="101.91" y1="79.49" y2="67.97" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#222b90" offset="0"/>
                              <stop stop-color="#367b99" offset="1"/>
                              </linearGradient>
                              <linearGradient id="b" x2="21.95" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#f90" offset="0"/>
                              <stop stop-color="#ff8000" offset="1"/>
                              </linearGradient>
                              <linearGradient id="h" x1="26.55" x2="48.49" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#ff8000" offset="0"/>
                              <stop stop-color="#cc1953" offset="1"/>
                              </linearGradient>
                              <linearGradient id="g" x1="53.09" x2="75.03" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#cc1953" offset="0"/>
                              <stop stop-color="#241284" offset="1"/>
                              </linearGradient>
                              <linearGradient id="i" x1="79.6" x2="101.55" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#222b90" offset="0"/>
                              <stop stop-color="#3559a6" offset="1"/>
                              </linearGradient>
                              <linearGradient id="c" x1="52.22" x2="75.9" y1="77.19" y2="70.27" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#cc1953" offset="0"/>
                              <stop stop-color="#241284" offset="1"/>
                              </linearGradient>
                              <linearGradient id="f" x1="25.76" x2="49.27" y1="69.45" y2="78.01" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#fc0" offset=".0026698"/>
                              <stop stop-color="#ce1938" offset=".9999"/>
                              </linearGradient>
                              <linearGradient id="d" x1="28.39" x2="46.65" y1="47.49" y2="64.33" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#ffd100" offset=".0026698"/>
                              <stop stop-color="#fd5a22" offset="1"/>
                              </linearGradient>
                              </defs>
                              <path d="m250 0v31.625h-54.046v-31.625h54.046z" fill="#40ab5d" stroke-width="2.4611"/>
                              <path d="m250 43.832v31.625h-54.046v-31.625h54.046z" fill="url(#e)" stroke-width="2.4611"/>
                              <path d="m250 87.69v31.625h-54.046v-31.625h54.046z" fill="url(#a)" stroke-width="2.4611"/>
                              <path d="m54.046 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#b)" stroke-width="2.4611"/>
                              <path d="m119.34 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#h)" stroke-width="2.4611"/>
                              <path d="m184.73 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#g)" stroke-width="2.4611"/>
                              <path d="m250 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#i)" stroke-width="2.4611"/>
                              <path d="m184.73 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#c)" stroke-width="2.4611"/>
                              <path d="m119.34 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#f)" stroke-width="2.4611"/>
                              <path d="m119.34 43.832v31.625h-54.071v-31.625h54.071z" fill="url(#d)" stroke-width="2.4611"/>
                          </svg>
                        </a>
                      </div>
                      
                      <!-- box-link -->
                    </div>
                    <!-- lineup-artists-description-container -->
                  </div>
                  <!-- lineup-artists-description -->
                </div>
                <!-- lineup-artists-wrap -->
              </div>
              <!-- lineup-artists -->
            </div>
            <!-- lineup-artists-headline -->
          </div>
          <!-- col-12 -->
        </div>
        <!-- row -->
        <div class="row justify-content-center">
          <div class="see-complete-lineup">
            <div class="entry-footer">
              <a href="programmation" class="btn">Toute la line up</a>
            </div>
          </div>
        </div>
        <!-- container -->
        <!-- .next-event-slider-wrap -->
      </div>
      <!-- homepage-next-events -->

      <div class="home-page-last-news">
        <div class="container">
          <div class="header">
            <div class="entry-title">
              <p>lorum epsum</p>
              <h2>APOKATOA News</h2>
            </div>
            <!-- entry-title -->
          </div>
          <!-- header -->

          <div class="home-page-last-news-wrap">
            <div class="row">
              <div class="col-12 col-md-6">
                <figure class="featured-image">
                  <a href="#">
                    <img
                      src="images/news-image-1.jpg"
                      alt="fesival+celebration"
                    />
                  </a>
                </figure>
                <!-- featured-image -->

                <div class="box-link-date">
                  <a href="#">jj.mm.nn</a>
                </div>

                <div class="content-wrapper">
                  <div class="entry-content">
                    <div class="entry-header">
                      <h2><a href="#">News 1</a></h2>
                    </div>
                    <!-- entry-header -->

                    <div class="entry-meta">
                      <span class="author-name"
                        ><a href="#"> nom de l'auteur</a></span
                      >
                      <span class="space">|</span>
                      <span class="comments-count"
                        ><a href="#">Fonction</a></span
                      >
                    </div>
                    <!-- entry-meta -->

                    <div class="entry-description">
                      <p>
                        Quisque at erat eu libero consequat tempus. Quisque mole
                        stie convallis tempus. Ut semper purus metus, a euismod
                        sapien sodales ac. Duis viverra eleifend fermentum.
                      </p>
                    </div>
                    <!-- entry-description -->
                  </div>
                  <!-- entry-content -->
                </div>
                <!-- content-wrapper -->
              </div>
              <!-- .col-6 -->

              <div class="col-12 col-md-6">
                <figure class="featured-image">
                  <a href="#">
                    <img
                      src="images/news-image-1.jpg"
                      alt="fesival+celebration"
                    />
                  </a>
                </figure>
                <!-- featured-image -->

                <div class="box-link-date">
                  <a href="">jj.mm.nn</a>
                </div>

                <div class="content-wrapper">
                  <div class="entry-content">
                    <div class="entry-header">
                      <h2><a href="#">Calendrier de cette année</a></h2>
                    </div>
                    <!-- entry-header -->

                    <div class="entry-meta">
                      <span class="author-name"
                        ><a href="#">nom de l'auteur</a></span
                      >
                      <span class="space">|</span>
                      <span class="comments-count"
                        ><a href="#">Fonction</a></span
                      >
                    </div>
                    <!-- entry-meta -->

                    <div class="entry-description">
                      <p>
                        Quisque at erat eu libero consequat tempus. Quisque mole
                        stie convallis tempus. Ut semper purus metus, a euismod
                        sapien sodales ac. Duis viverra eleifend fermentum.
                      </p>
                    </div>
                    <!-- entry-description -->
                  </div>
                  <!-- entry-content -->
                </div>
                <!-- .content-wrapper -->
              </div>
              <!-- col-6 -->
            </div>
            <!-- row -->
          </div>
          <!-- home-page-last-news-wrap -->
        </div>
        <!-- container -->
      </div>
      <!-- home-page-last-news -->
    </div>

    <footer class="site-footer">
      <div
        class="footer-cover-title flex justify-content-center align-items-center"
      >
        <h2>APOKATOA</h2>
      </div>
      <!-- .site-footer -->

      <div class="footer-content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="entry-title">
                <a href="#">APOKATOA</a>
              </div>
              <!-- entry-title -->

              <div class="entry-mail">
                <a href="#">apokatoa@gmail.com</a>
              </div>
              <!-- .entry-mail -->

              <div class="copyright-info">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved |
                <a href="about-us">APOKATOA</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
              <!-- copyright-info -->

              <div class="footer-social">
                <ul class="flex justify-content-center align-items-center">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <!-- footer-social -->
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- footer-content-wrapper -->
    </footer>
    <!-- site-footer -->

    <script type="text/javascript" src="js/test.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/scrollCue.min.js"></script>
    <script type="text/javascript">
      scrollCue.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </body>
</html>

