<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Hello World!</title>

    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="style.css" />
  </head>
<body class="programmation-page">
  <header class="site-header">
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="index.html"
          ><img
              src="images\Logo.png"
              width="65"
              height="65"
              class="d-inline-block align-top"
              alt=""
          /></a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="programmation.html">Programmation</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Le Festival
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li><a href="about-us.html">À propos</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>
    <!-- header-bar -->
  </header>
  <!-- .site-header -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="entry-header">
              <h2 class="entry-title">Programmation</h2>

              <ul class="breadcrumbs flex align-items-center">
                <li><a href="index.html">Accueil</a></li>
                <li>Programmation</li>
              </ul>
              <!-- .breadcrumbs -->
            </div>
            <!-- entry-header -->
          </div>
          <!-- col-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <div class="content-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="lineup-artists-headline">
                <div class="entry-title">
                  <p>JUST THE BEST</p>
                  <h2>Vos artistes préférés</h2>
                </div>
                <!-- entry-title -->
  
                <div class="lineup-artists">
                  <div class="lineup-artists-wrap flex flex-wrap">
                    <figure class="featured-image">
                      <a href="#">
                        <img src="images/black-chick.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
  
                    <div class="lineup-artists-description">
                      <div class="lineup-artists-description-container">
                        <div class="entry-title">Jamila Williams</div>
                        <!-- entry-title -->
  
                        <div class="entry-content">
                          <p>
                            Quisque at erat eu libero consequat tempus. Quisque
                            mole stie convallis tempus. Ut semper purus metus, a
                            euismod sapien sodales ac. Duis viverra eleifend
                            fermentum.
                          </p>
                        </div>
                        <!-- entry-content -->
  
                        <div class="box-link">
                          <a href=""><img src="images/box.jpg" alt="" /></a>
                        </div>
                        <!-- box-link -->
                      </div>
                      <!-- lineup-artists-description-container -->
                    </div>
                    <!-- lineup-artists-description -->
                  </div>
                  <!-- lineup-artists-wrap -->
  
                  <div class="lineup-artists-wrap flex flex-wrap">
                    <div class="lineup-artists-description">
                      <figure class="featured-image d-md-none">
                        <a href="#">
                          <img src="images/mathew-kane.jpg" alt="" />
                        </a>
                      </figure>
                      <!-- featured-image -->
  
                      <div class="lineup-artists-description-container">
                        <div class="entry-title">Sandra Superstar</div>
                        <!-- entry-title -->
  
                        <div class="entry-content">
                          <p>
                            Quisque at erat eu libero consequat tempus. Quisque
                            mole stie convallis tempus. Ut semper purus metus, a
                            euismod sapien sodales ac. Duis viverra eleifend
                            fermentum.
                          </p>
                        </div>
                        <!-- entry-content -->
  
                        <div class="box-link">
                          <a href="#"><img src="images/box.jpg" alt="" /></a>
                        </div>
                        <!-- box-link -->
                      </div>
                      <!-- lineup-artists-description-container -->
                    </div>
                    <!-- lineup-artists-description -->
  
                    <figure class="featured-image d-none d-md-block">
                      <a href="#">
                        <img src="images/mathew-kane.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
                  </div>
                  <!-- lineup-artists-wrap -->
  
                  <div class="lineup-artists-wrap flex flex-wrap">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/eric-ward.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
  
                    <div class="lineup-artists-description">
                      <div class="lineup-artists-description-container">
                        <div class="entry-title">DJ Crazyhead</div>
                        <!-- entry-title -->
  
                        <div class="entry-content">
                          <p>
                            Quisque at erat eu libero consequat tempus. Quisque
                            mole stie convallis tempus. Ut semper purus metus, a
                            euismod sapien sodales ac. Duis viverra eleifend
                            fermentum.
                          </p>
                        </div>
                        <!-- entry-content -->
  
                        <div class="box-link">
                          <a href="#"> <img src="images/box.jpg" alt="" /></a>
                        </div>
                        <!-- box-link -->
                      </div>
                      <!-- lineup-artists-description-container -->
                    </div>
                    <!-- lineup-artists-description -->
                  </div>
                  <!-- lineup-artists-wrap -->
                </div>
                <!-- lineup-artists -->
              </div>
              <!-- lineup-artists-headline -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- row -->
  
          <div class="row">
            <div class="col-12">
              <div class="the-complete-lineup">
                <div class="entry-title">
                  <p>JUST THE BEST</p>
                  <h2>Programmation complète</h2>
                </div>
                <!-- entry-title -->
  
                <div class="row the-complete-lineup-artists">
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-1.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>Miska Smith</h2>
                  </div>
                  <!-- artist-single -->
  
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-2.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>Hayley Down</h2>
                  </div>
                  <!-- artist-single -->
  
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-3.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>The Band Song</h2>
                  </div>
                  <!-- artist-single -->
  
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-4.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>Pink Machine</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-5.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>Brasil Band</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-6.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>Mickey</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-7.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>DJ Girl</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-8.jpg" alt="" /> </a>
                      <a href="#" class="box-link">
                        <img src="images/box.jpg" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>Stan Smith</h2>
                  </div>
                  <!-- artist-single -->
                </div>
                <!-- the-complete-lineup-artists -->
              </div>
              <!-- the-complete-lineup -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- row -->
        </div>
        <footer class="site-footer">
          <div
            class="footer-cover-title flex justify-content-center align-items-center"
          >
            <h2>APOKATOA</h2>
          </div>
          <!-- .site-footer -->
    
          <div class="footer-content-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="entry-title">
                    <a href="#">APOKATOA</a>
                  </div>
                  <!-- entry-title -->
    
                  <div class="entry-mail">
                    <a href="#">apokatoa@gmail.com</a>
                  </div>
                  <!-- .entry-mail -->
    
                  <div class="copyright-info">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved |
                    <a href="about-us.html">APOKATOA</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </div>
                  <!-- copyright-info -->
    
                  <div class="footer-social">
                    <ul class="flex justify-content-center align-items-center">
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                    </ul>
                  </div>
                  <!-- footer-social -->
                </div>
                <!-- col -->
              </div>
              <!-- row -->
            </div>
            <!-- container -->
          </div>
          <!-- footer-content-wrapper -->
        </footer>
        <!-- site-footer -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
