<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Programmation</title>

    <!-- <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  /> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

<body class="programmation-page">
  <header class="site-header basic">
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="/"
            ><img
              src="images\Logo-home.png"
              width="65"
              height="65"
              class="d-inline-block align-top"
              alt=""
          /></a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="/">Accueil</a></li>
            <li><a href="programmation">Programmation</a></li>
            <li><a href="ticket">Billetterie</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Le Festival
              </a>
              <div class="dropdown-menu basic" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="trajet"
                  >Se rendre à APOKATOA</a
                >
                <a class="dropdown-item" href="hebergement">Hébergement</a>
                <a class="dropdown-item" href="#">Manger et boire</a>
                <a class="dropdown-item" href="#">Prévention</a>
              </div>
            </li>
            <li><a href="about-us">À propos</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>
    <!-- header-bar -->
  </header>
  <!-- .site-header -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="entry-header">
              <h2 class="entry-title text-center">Programmation</h2>
            </div>
            <!-- entry-header -->
          </div>
          <!-- col-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <div class="content-section basic">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="lineup-artists-headline">
                <div class="entry-title text-center">
                  <h3>Vos artistes</h3>
                </div>
                <!-- entry-title -->
  
                <div class="lineup-artists">
                  <div class="lineup-artists-wrap flex flex-wrap">
                    <figure class="featured-image" data-cue="zoomIn" data-duration="800">
                      <a href="#">
                        <img src="images/artist1.png" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
  
                    <div class="lineup-artists-description">
                      <div class="lineup-artists-description-container" data-cue="slideInLeft" data-duration="800" data-delay="600">
                        <div class="entry-title pb-4">Biga*Ranx</div>
                        <!-- entry-title -->
                        <div class="genre-music">
                          <p>dub</p>
                          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#E64432" d="M47,-15.4C51.8,-0.5,40.3,19.6,24.9,29.6C9.5,39.7,-9.8,39.9,-26.7,29.3C-43.6,18.8,-58.2,-2.4,-53.4,-17.3C-48.5,-32.2,-24.3,-40.8,-1.6,-40.3C21.1,-39.8,42.2,-30.2,47,-15.4Z" transform="translate(100 100)" />
                          </svg>
                        </div>
                        <div class="entry-content pt-4">
                          <p>
                            Biga*Ranx est né en France en 1988 et se tourne très tôt vers les sonorités jamaïcaines. Son attention se porte sur les rythmes de Yellowman et de DJ Screw. Dès l’âge de 14 ans, il se consacre entièrement à la musique, se forgeant un style personnel à force de travail, d’écriture et de composition.
                          </p>
                        </div>
                        <div class="row music-app mx-0 mt-4">
                          <a class="mr-3">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 427.652 427.652" style="enable-background:new 0 0 427.652 427.652;" xml:space="preserve">
                                  <path style="fill:#00D95F;" d="M213.826,0C95.733,0,0,95.733,0,213.826s95.733,213.826,213.826,213.826
                                    s213.826-95.733,213.826-213.826S331.919,0,213.826,0z M306.886,310.32c-2.719,4.652-7.612,7.246-12.638,7.247
                                    c-2.506,0-5.044-0.645-7.364-2c-38.425-22.456-82.815-26.065-113.295-25.138c-33.763,1.027-58.523,7.692-58.769,7.76
                                    c-7.783,2.126-15.826-2.454-17.961-10.236c-2.134-7.781,2.43-15.819,10.209-17.962c1.116-0.307,27.76-7.544,64.811-8.766
                                    c21.824-0.72,42.834,0.801,62.438,4.52c24.83,4.71,47.48,12.978,67.322,24.574C308.612,294.393,310.96,303.349,306.886,310.32z
                                    M334.07,253.861c-3.22,5.511-9.016,8.583-14.97,8.584c-2.968,0-5.975-0.763-8.723-2.369c-45.514-26.6-98.097-30.873-134.2-29.776
                                    c-39.994,1.217-69.323,9.112-69.614,9.192c-9.217,2.515-18.746-2.906-21.275-12.124c-2.528-9.218,2.879-18.738,12.093-21.277
                                    c1.322-0.364,32.882-8.937,76.77-10.384c25.853-0.852,50.739,0.949,73.96,5.354c29.412,5.58,56.241,15.373,79.744,29.108
                                    C336.115,234.995,338.897,245.603,334.07,253.861z M350.781,202.526c-3.641,0-7.329-0.936-10.7-2.906
                                    c-108.207-63.238-248.572-25.643-249.977-25.255c-11.313,3.117-23.008-3.527-26.124-14.839
                                    c-3.117-11.312,3.527-23.008,14.839-26.124c1.621-0.447,40.333-10.962,94.166-12.737c31.713-1.044,62.237,1.164,90.72,6.567
                                    c36.077,6.844,68.987,18.856,97.815,35.704c10.13,5.92,13.543,18.931,7.623,29.061C365.193,198.757,358.084,202.526,350.781,202.526
                                    z"/>
                            </svg>
                          </a>
                          <a>
                            <svg version="1.1" viewBox="0 0 250 163.17" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <defs>
                                <linearGradient id="e" x1="90.71" x2="90.5" y1="62.45" y2="49.29" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#358c7b" offset="0"/>
                                <stop stop-color="#33a65e" offset=".5256"/>
                                </linearGradient>
                                <linearGradient id="a" x1="79.29" x2="101.91" y1="79.49" y2="67.97" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#222b90" offset="0"/>
                                <stop stop-color="#367b99" offset="1"/>
                                </linearGradient>
                                <linearGradient id="b" x2="21.95" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#f90" offset="0"/>
                                <stop stop-color="#ff8000" offset="1"/>
                                </linearGradient>
                                <linearGradient id="h" x1="26.55" x2="48.49" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#ff8000" offset="0"/>
                                <stop stop-color="#cc1953" offset="1"/>
                                </linearGradient>
                                <linearGradient id="g" x1="53.09" x2="75.03" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#cc1953" offset="0"/>
                                <stop stop-color="#241284" offset="1"/>
                                </linearGradient>
                                <linearGradient id="i" x1="79.6" x2="101.55" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#222b90" offset="0"/>
                                <stop stop-color="#3559a6" offset="1"/>
                                </linearGradient>
                                <linearGradient id="c" x1="52.22" x2="75.9" y1="77.19" y2="70.27" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#cc1953" offset="0"/>
                                <stop stop-color="#241284" offset="1"/>
                                </linearGradient>
                                <linearGradient id="f" x1="25.76" x2="49.27" y1="69.45" y2="78.01" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#fc0" offset=".0026698"/>
                                <stop stop-color="#ce1938" offset=".9999"/>
                                </linearGradient>
                                <linearGradient id="d" x1="28.39" x2="46.65" y1="47.49" y2="64.33" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#ffd100" offset=".0026698"/>
                                <stop stop-color="#fd5a22" offset="1"/>
                                </linearGradient>
                                </defs>
                                <path d="m250 0v31.625h-54.046v-31.625h54.046z" fill="#40ab5d" stroke-width="2.4611"/>
                                <path d="m250 43.832v31.625h-54.046v-31.625h54.046z" fill="url(#e)" stroke-width="2.4611"/>
                                <path d="m250 87.69v31.625h-54.046v-31.625h54.046z" fill="url(#a)" stroke-width="2.4611"/>
                                <path d="m54.046 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#b)" stroke-width="2.4611"/>
                                <path d="m119.34 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#h)" stroke-width="2.4611"/>
                                <path d="m184.73 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#g)" stroke-width="2.4611"/>
                                <path d="m250 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#i)" stroke-width="2.4611"/>
                                <path d="m184.73 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#c)" stroke-width="2.4611"/>
                                <path d="m119.34 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#f)" stroke-width="2.4611"/>
                                <path d="m119.34 43.832v31.625h-54.071v-31.625h54.071z" fill="url(#d)" stroke-width="2.4611"/>
                            </svg>
                          </a>
                        </div>
                        <!-- entry-content -->
  
                        <!-- box-link -->
                      </div>
                      <!-- lineup-artists-description-container -->
                    </div>
                    <!-- lineup-artists-description -->
                  </div>
                  <!-- lineup-artists-wrap -->
  
                  <div class="lineup-artists-wrap flex flex-wrap">
                    <div class="lineup-artists-description">
                      <figure class="featured-image d-md-none">
                        <a href="#">
                          <img src="images/artist2.png" alt="" />
                        </a>
                      </figure>
                      <!-- featured-image -->
  
                      <div class="lineup-artists-description-container" data-cue="slideInRight" data-duration="800" data-delay="600">
                        <div class="entry-title pb-4">Angèle</div>
                        <!-- entry-title -->
                        <div class="genre-music">
                          <p>pop</p>
                          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#3897DE" d="M47,-15.4C51.8,-0.5,40.3,19.6,24.9,29.6C9.5,39.7,-9.8,39.9,-26.7,29.3C-43.6,18.8,-58.2,-2.4,-53.4,-17.3C-48.5,-32.2,-24.3,-40.8,-1.6,-40.3C21.1,-39.8,42.2,-30.2,47,-15.4Z" transform="translate(100 100)" />
                          </svg>
                        </div>
                        <div class="entry-content pt-4">
                          <p>
                            Angèle est l’incarnation parfaite de sa génération, magmatique et syncrétique, où les frontières entre les genres musicaux ne sont plus qu’un souvenir lointain. De la pop, du rap et de l’électro et bien plus encore. Longtemps dans les pas de Damso et Stromae, Angèle marche désormais à leurs côtés. La Belgique tient son nouveau prodige.
                          </p>
                        </div>
                        <div class="row music-app mx-0 mt-4">
                          <a class="mr-3">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 427.652 427.652" style="enable-background:new 0 0 427.652 427.652;" xml:space="preserve">
                                  <path style="fill:#00D95F;" d="M213.826,0C95.733,0,0,95.733,0,213.826s95.733,213.826,213.826,213.826
                                    s213.826-95.733,213.826-213.826S331.919,0,213.826,0z M306.886,310.32c-2.719,4.652-7.612,7.246-12.638,7.247
                                    c-2.506,0-5.044-0.645-7.364-2c-38.425-22.456-82.815-26.065-113.295-25.138c-33.763,1.027-58.523,7.692-58.769,7.76
                                    c-7.783,2.126-15.826-2.454-17.961-10.236c-2.134-7.781,2.43-15.819,10.209-17.962c1.116-0.307,27.76-7.544,64.811-8.766
                                    c21.824-0.72,42.834,0.801,62.438,4.52c24.83,4.71,47.48,12.978,67.322,24.574C308.612,294.393,310.96,303.349,306.886,310.32z
                                    M334.07,253.861c-3.22,5.511-9.016,8.583-14.97,8.584c-2.968,0-5.975-0.763-8.723-2.369c-45.514-26.6-98.097-30.873-134.2-29.776
                                    c-39.994,1.217-69.323,9.112-69.614,9.192c-9.217,2.515-18.746-2.906-21.275-12.124c-2.528-9.218,2.879-18.738,12.093-21.277
                                    c1.322-0.364,32.882-8.937,76.77-10.384c25.853-0.852,50.739,0.949,73.96,5.354c29.412,5.58,56.241,15.373,79.744,29.108
                                    C336.115,234.995,338.897,245.603,334.07,253.861z M350.781,202.526c-3.641,0-7.329-0.936-10.7-2.906
                                    c-108.207-63.238-248.572-25.643-249.977-25.255c-11.313,3.117-23.008-3.527-26.124-14.839
                                    c-3.117-11.312,3.527-23.008,14.839-26.124c1.621-0.447,40.333-10.962,94.166-12.737c31.713-1.044,62.237,1.164,90.72,6.567
                                    c36.077,6.844,68.987,18.856,97.815,35.704c10.13,5.92,13.543,18.931,7.623,29.061C365.193,198.757,358.084,202.526,350.781,202.526
                                    z"/>
                            </svg>
                          </a>
                          <a>
                            <svg version="1.1" viewBox="0 0 250 163.17" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <defs>
                                <linearGradient id="e" x1="90.71" x2="90.5" y1="62.45" y2="49.29" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#358c7b" offset="0"/>
                                <stop stop-color="#33a65e" offset=".5256"/>
                                </linearGradient>
                                <linearGradient id="a" x1="79.29" x2="101.91" y1="79.49" y2="67.97" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#222b90" offset="0"/>
                                <stop stop-color="#367b99" offset="1"/>
                                </linearGradient>
                                <linearGradient id="b" x2="21.95" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#f90" offset="0"/>
                                <stop stop-color="#ff8000" offset="1"/>
                                </linearGradient>
                                <linearGradient id="h" x1="26.55" x2="48.49" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#ff8000" offset="0"/>
                                <stop stop-color="#cc1953" offset="1"/>
                                </linearGradient>
                                <linearGradient id="g" x1="53.09" x2="75.03" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#cc1953" offset="0"/>
                                <stop stop-color="#241284" offset="1"/>
                                </linearGradient>
                                <linearGradient id="i" x1="79.6" x2="101.55" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#222b90" offset="0"/>
                                <stop stop-color="#3559a6" offset="1"/>
                                </linearGradient>
                                <linearGradient id="c" x1="52.22" x2="75.9" y1="77.19" y2="70.27" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#cc1953" offset="0"/>
                                <stop stop-color="#241284" offset="1"/>
                                </linearGradient>
                                <linearGradient id="f" x1="25.76" x2="49.27" y1="69.45" y2="78.01" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#fc0" offset=".0026698"/>
                                <stop stop-color="#ce1938" offset=".9999"/>
                                </linearGradient>
                                <linearGradient id="d" x1="28.39" x2="46.65" y1="47.49" y2="64.33" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#ffd100" offset=".0026698"/>
                                <stop stop-color="#fd5a22" offset="1"/>
                                </linearGradient>
                                </defs>
                                <path d="m250 0v31.625h-54.046v-31.625h54.046z" fill="#40ab5d" stroke-width="2.4611"/>
                                <path d="m250 43.832v31.625h-54.046v-31.625h54.046z" fill="url(#e)" stroke-width="2.4611"/>
                                <path d="m250 87.69v31.625h-54.046v-31.625h54.046z" fill="url(#a)" stroke-width="2.4611"/>
                                <path d="m54.046 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#b)" stroke-width="2.4611"/>
                                <path d="m119.34 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#h)" stroke-width="2.4611"/>
                                <path d="m184.73 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#g)" stroke-width="2.4611"/>
                                <path d="m250 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#i)" stroke-width="2.4611"/>
                                <path d="m184.73 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#c)" stroke-width="2.4611"/>
                                <path d="m119.34 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#f)" stroke-width="2.4611"/>
                                <path d="m119.34 43.832v31.625h-54.071v-31.625h54.071z" fill="url(#d)" stroke-width="2.4611"/>
                            </svg>
                          </a>
                        </div>
                        <!-- entry-content -->
                        <!-- box-link -->
                      </div>
                      <!-- lineup-artists-description-container -->
                    </div>
                    <!-- lineup-artists-description -->
  
                    <figure class="featured-image d-none d-md-block" data-cue="zoomIn" data-duration="800">
                      <a href="#">
                        <img src="images/artist2.png" alt="" />
                      </a>
                    </figure>
                    <!-- featured-image -->
                  </div>
                  <!-- lineup-artists-wrap -->
  
                  <div class="lineup-artists-wrap flex flex-wrap">
                    <figure class="featured-image" data-cue="zoomIn" data-duration="800">
                      <a href="#"> <img src="images/artist3.png" alt="" /></a>
                    </figure>
                    <!-- featured-image -->
  
                    <div class="lineup-artists-description">
                      <div class="lineup-artists-description-container" data-cue="slideInLeft" data-duration="800" data-delay="600">
                        <div class="entry-title pb-4">Bellaire</div>
                        <!-- entry-title -->
                        <div class="genre-music">
                          <p>dance</p>
                          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#F5BA33" d="M62.7,-20.1C67.8,-4.5,49.4,19.1,31.2,29C13,38.9,-4.9,35.2,-25.6,23.1C-46.2,10.9,-69.5,-9.6,-65.7,-23.4C-61.9,-37.1,-30.9,-44.1,-1.1,-43.7C28.8,-43.4,57.5,-35.7,62.7,-20.1Z" transform="translate(100 100)" />
                          </svg>
                        </div>
                        <div class="entry-content pt-4">
                          <p>
                            Bellaire de 21 ans est à l'opposé d'un introverti qui s'épanouirait dans des sonorités sombres. Il a besoin de luminosité et de légèreté pour s'épanouir dans ce genre de musique soulèvement dont il fait partie, et ses sons peuvent faire transpirer même les plus paresseux d'entre nous en un rien de temps. Avec son nouvel EP «Date At The Disco», le producteur lillois (Nord de la France) est déterminé à nous convaincre que la house music est celle sur laquelle on peut danser.
                          </p>
                        </div>
                        <!-- entry-content -->
                        <div class="row music-app mx-0 mt-4">
                          <a class="mr-3">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 427.652 427.652" style="enable-background:new 0 0 427.652 427.652;" xml:space="preserve">
                                  <path style="fill:#00D95F;" d="M213.826,0C95.733,0,0,95.733,0,213.826s95.733,213.826,213.826,213.826
                                    s213.826-95.733,213.826-213.826S331.919,0,213.826,0z M306.886,310.32c-2.719,4.652-7.612,7.246-12.638,7.247
                                    c-2.506,0-5.044-0.645-7.364-2c-38.425-22.456-82.815-26.065-113.295-25.138c-33.763,1.027-58.523,7.692-58.769,7.76
                                    c-7.783,2.126-15.826-2.454-17.961-10.236c-2.134-7.781,2.43-15.819,10.209-17.962c1.116-0.307,27.76-7.544,64.811-8.766
                                    c21.824-0.72,42.834,0.801,62.438,4.52c24.83,4.71,47.48,12.978,67.322,24.574C308.612,294.393,310.96,303.349,306.886,310.32z
                                    M334.07,253.861c-3.22,5.511-9.016,8.583-14.97,8.584c-2.968,0-5.975-0.763-8.723-2.369c-45.514-26.6-98.097-30.873-134.2-29.776
                                    c-39.994,1.217-69.323,9.112-69.614,9.192c-9.217,2.515-18.746-2.906-21.275-12.124c-2.528-9.218,2.879-18.738,12.093-21.277
                                    c1.322-0.364,32.882-8.937,76.77-10.384c25.853-0.852,50.739,0.949,73.96,5.354c29.412,5.58,56.241,15.373,79.744,29.108
                                    C336.115,234.995,338.897,245.603,334.07,253.861z M350.781,202.526c-3.641,0-7.329-0.936-10.7-2.906
                                    c-108.207-63.238-248.572-25.643-249.977-25.255c-11.313,3.117-23.008-3.527-26.124-14.839
                                    c-3.117-11.312,3.527-23.008,14.839-26.124c1.621-0.447,40.333-10.962,94.166-12.737c31.713-1.044,62.237,1.164,90.72,6.567
                                    c36.077,6.844,68.987,18.856,97.815,35.704c10.13,5.92,13.543,18.931,7.623,29.061C365.193,198.757,358.084,202.526,350.781,202.526
                                    z"/>
                            </svg>
                          </a>
                          <a>
                            <svg version="1.1" viewBox="0 0 250 163.17" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <defs>
                                <linearGradient id="e" x1="90.71" x2="90.5" y1="62.45" y2="49.29" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#358c7b" offset="0"/>
                                <stop stop-color="#33a65e" offset=".5256"/>
                                </linearGradient>
                                <linearGradient id="a" x1="79.29" x2="101.91" y1="79.49" y2="67.97" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#222b90" offset="0"/>
                                <stop stop-color="#367b99" offset="1"/>
                                </linearGradient>
                                <linearGradient id="b" x2="21.95" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#f90" offset="0"/>
                                <stop stop-color="#ff8000" offset="1"/>
                                </linearGradient>
                                <linearGradient id="h" x1="26.55" x2="48.49" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#ff8000" offset="0"/>
                                <stop stop-color="#cc1953" offset="1"/>
                                </linearGradient>
                                <linearGradient id="g" x1="53.09" x2="75.03" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#cc1953" offset="0"/>
                                <stop stop-color="#241284" offset="1"/>
                                </linearGradient>
                                <linearGradient id="i" x1="79.6" x2="101.55" y1="91.55" y2="91.55" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#222b90" offset="0"/>
                                <stop stop-color="#3559a6" offset="1"/>
                                </linearGradient>
                                <linearGradient id="c" x1="52.22" x2="75.9" y1="77.19" y2="70.27" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#cc1953" offset="0"/>
                                <stop stop-color="#241284" offset="1"/>
                                </linearGradient>
                                <linearGradient id="f" x1="25.76" x2="49.27" y1="69.45" y2="78.01" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#fc0" offset=".0026698"/>
                                <stop stop-color="#ce1938" offset=".9999"/>
                                </linearGradient>
                                <linearGradient id="d" x1="28.39" x2="46.65" y1="47.49" y2="64.33" gradientTransform="matrix(2.4611 0 0 2.4611 0 -77.943)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#ffd100" offset=".0026698"/>
                                <stop stop-color="#fd5a22" offset="1"/>
                                </linearGradient>
                                </defs>
                                <path d="m250 0v31.625h-54.046v-31.625h54.046z" fill="#40ab5d" stroke-width="2.4611"/>
                                <path d="m250 43.832v31.625h-54.046v-31.625h54.046z" fill="url(#e)" stroke-width="2.4611"/>
                                <path d="m250 87.69v31.625h-54.046v-31.625h54.046z" fill="url(#a)" stroke-width="2.4611"/>
                                <path d="m54.046 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#b)" stroke-width="2.4611"/>
                                <path d="m119.34 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#h)" stroke-width="2.4611"/>
                                <path d="m184.73 131.55v31.625h-54.071v-31.625h54.071z" fill="url(#g)" stroke-width="2.4611"/>
                                <path d="m250 131.55v31.625h-54.046v-31.625h54.046z" fill="url(#i)" stroke-width="2.4611"/>
                                <path d="m184.73 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#c)" stroke-width="2.4611"/>
                                <path d="m119.34 87.69v31.625h-54.071v-31.625h54.071z" fill="url(#f)" stroke-width="2.4611"/>
                                <path d="m119.34 43.832v31.625h-54.071v-31.625h54.071z" fill="url(#d)" stroke-width="2.4611"/>
                            </svg>
                          </a>
                        </div>
                        
                        <!-- box-link -->
                      </div>
                      <!-- lineup-artists-description-container -->
                    </div>
                    <!-- lineup-artists-description -->
                  </div>
                  <!-- lineup-artists-wrap -->
                </div>
                <!-- lineup-artists -->
              </div>
              <!-- lineup-artists-headline -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- row -->
  
          <div class="row">
            <div class="col-12">
              <div class="the-complete-lineup">
                <div class="entry-title text-center">
                  <h3>Programmation complète</h3>
                </div>
                <!-- entry-title -->
  
                <div class="row the-complete-lineup-artists">
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-1.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>Artiste 4</h2>
                  </div>
                  <!-- artist-single -->
  
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-2.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>Artiste 5</h2>
                  </div>
                  <!-- artist-single -->
  
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-3.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>Artiste 6</h2>
                  </div>
                  <!-- artist-single -->
  
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-4.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
  
                    <h2>Artiste 7</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-5.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>Artiste 8</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-6.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>Artiste 9</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-7.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>Artiste 10</h2>
                  </div>
                  <!-- artist-single -->
                  <div class="col-6 col-md-4 col-lg-3 artist-single">
                    <figure class="featured-image">
                      <a href="#"> <img src="images/image-8.jpg" alt="" /> </a>
                    </figure>
                    <!-- featured-image -->
                    <h2>Artiste 11</h2>
                  </div>
                  <!-- artist-single -->
                </div>
                <!-- the-complete-lineup-artists -->
              </div>
              <!-- the-complete-lineup -->
            </div>
            <!-- col-12 -->
          </div>
          <!-- row -->
        </div>
        <footer class="site-footer programmation mt-4">
          <!-- .site-footer -->
    
          <div class="footer-content-wrapper">
            <div class="container">
              <img
                    src="images\Logo-home.png"
                    width="95"
                    height="95"
                    class="d-inline-block align-top mb-4"
                    alt=""
                />
              <div class="row">
                <div class="col-12 col-md-6 flex justify-start align-start">
                  <h2>Voir également</h2>
    
                  <a href="programmation">Programmation</a>
                  <a href="ticket">Billetterie</a>
                  <a href="trajet">Se rendre à APOKATOA</a>
                  <a href="hebergement">Hébergement</a>
                </div>
                <div class="col-12 col-md-6">
                  <h2>Suivez-nous sur les réseaux</h2>
                  <div class="footer-social">
                    <ul class="flex justify-content-center align-items-center">
                      <li>
                        <a href="https://www.facebook.com/Apokatoa-102719905192097/"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/apokatoa/"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-spotify"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- col -->
              </div>
              <!-- row -->
            </div>
            <div class="copyright-info">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
            <!-- container -->
          </div>
          <!-- footer-content-wrapper -->
        </footer>
        <!-- site-footer -->

        <script type="text/javascript" src="js/test.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.collapsible.min.js"></script>
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="js/circle-progress.min.js"></script>
        <script type="text/javascript" src="js/jquery.countTo.min.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <script type="text/javascript" src="js/scrollCue.min.js"></script>
        <script type="text/javascript">
          scrollCue.init();
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>
</html>
